@model IEnumerable<Permission>

@{
    ViewData["Title"] = "مدیریت دسترسی ها";
    int rowCount = 1;
}
@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.PermissionPage); }
}

@section Css{
    <link href="~/css/select.css" rel="stylesheet" />
}

<div class="display-6 text-center">
    مدیریت دسترسی ها
</div>

<a onclick="ShowModal('@Url.Action("AddPermission", "PermissionManager",null, Context.Request.Scheme)', 'افزودن دسترسی')"
   class="btn btn-success text-white">
    <i class="fal fa-layer-plus"></i> افزودن دسترسی جدید
</a>

@if (Model == null)
{
    <div class="alert alert-warning mt-2">
        متاسفانه دسترسی یافت نشد!
    </div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>
                    نام دسترسی
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@rowCount</td>
                    <td>
                        @item.PermissionTitle
                    </td>
                    <td>
                        <a onclick="ShowModal('@Url.Action("EditPermission", "PermissionManager",new {permissionId = item.PermissionId}, Context.Request.Scheme)', 'ویرایش دسترسی')"
                           class="btn btn-warning text-white">
                            <i class="fal fa-marker"></i> ویرایش
                        </a>
                        <form asp-action="DeletePermission" asp-route-permissionId="@item.PermissionId" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger text-white me-2">
                                <i class="fal fa-trash-alt"></i> حذف
                            </button>
                        </form>
                    </td>
                </tr>


                rowCount++;
            }
        </tbody>
    </table>

}

@section AfterMainOptions
{
    <partial name="_Modal" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/select.js"></script>
}