@model IEnumerable<CategoriesDropdownViewModel>


<nav class="main-nav d-none d-lg-block text-center mx-auto">
    <ul>
        <li><a href="/">خانه</a></li>
        <li><a asp-controller="Shopper" asp-action="AddShopper">افزودن فروشنده</a></li>

        <li><a asp-area="ManagerPanel" asp-controller="AdminPanel" asp-action="Dashboard">مدیریت کل</a></li>

        @foreach (var item in Model)
        {
            if (item.ChildCategories.Any())
            {
                <li class="drop-down">
                    <a asp-controller="Product"
                       asp-action="ProductsOfCategory"
                       asp-route-categoryId="@item.CategoryId"
                       asp-route-categoryName="@item.CategoryTitle.Replace(" ","-")">@item.CategoryTitle</a>

                    <div class="mega-dropdown">
                        @foreach (var childCategory in item.ChildCategories)
                        {
                            <ul>
                                <li class="child-category-title">
                                    <a asp-controller="Product" asp-action="ProductsOfChildCategory"
                                       asp-route-childCategoryId="@childCategory.ChildCategoryId"
                                       asp-route-childCategoryName="@childCategory.ChildCategoryName.Replace(" ","-")">
                                        @childCategory.ChildCategoryName
                                    </a>
                                </li>

                                @foreach (var brand in childCategory.TopBrands)
                                {

                                    <li>
                                        <a asp-controller="Product" asp-action="ProductsOfChildCategory"
                                           asp-route-childCategoryId="@childCategory.ChildCategoryId"
                                           asp-route-childCategoryName="@childCategory.ChildCategoryName.Replace(" ","-")"
                                           asp-route-brands="@brand.Item1">@brand.Item2 (@brand.Item3.NumSplitter())</a>
                                    </li>
                                }

                                @if (childCategory.TopBrands.Count() == 5)
                                {
                                    <li class="show-more-dropdown">
                                        <a asp-controller="Product" asp-action="ProductsOfChildCategory"
                                           asp-route-childCategoryId="@childCategory.ChildCategoryId"
                                           asp-route-childCategoryName="@childCategory.ChildCategoryName">
                                            مشاهده بیشتر
                                        </a>
                                    </li>
                                }
                            </ul>
                        }

                        <div class="slider-dropdown">

                            <div id="header-menu-slider" class="carousel" data-ride="carousel">

                                <ol class="carousel-indicators">
                                    @for (int i = 0; i < item.CategoryImages.Count(); i++)
                                    {
                                        <li data-target="#header-menu-slider" data-slide-to="@i" class="@(i == 0?"active":"")"></li>
                                    }
                                </ol>

                                <div class="carousel-inner">

                                    @foreach (var image in item.CategoryImages)
                                    {
                                        if (Equals(item.CategoryImages.First(), image))
                                        {
                                            <div class="carousel-item active">
                                                <a href="@image.Item2">
                                                    <img class="d-block w-100" src="~/images/categoryImages/@image.Item1" alt="@item.CategoryTitle">
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="carousel-item">
                                                <a href="@image.Item2">
                                                    <img class="d-block w-100" src="~/images/categoryImages/@image.Item1" alt="@item.CategoryTitle">
                                                </a>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
            else
            {
                <li><a href="/">@item.CategoryTitle</a></li>
            }
        }

    </ul>
</nav>

@section Scripts
{
    <script>
        $('#header-menu-slider').carousel({
            interval: 2000
        });
    </script>
}
