@model IEnumerable<CategoriesDropdownViewModel>


<nav class="main-nav d-none d-lg-block text-center mx-auto">
    <ul>
        <li><a href="/">خانه</a></li>
        <li><a asp-controller="Shopper" asp-action="AddShopper">افزودن فروشنده</a></li>

        <li><a asp-area="ManagerPanel" asp-controller="AdminPanel" asp-action="Dashboard">مدیریت کل</a></li>

        @foreach (var item in Model)
        {
            if (item.ChildCategories.Any())
            {
                <li class="drop-down">
                    <a asp-controller="Product"
                       asp-action="ProductsOfCategory"
                       asp-route-categoryId="@item.CategoryId"
                       asp-route-categoryName="@item.CategoryTitle.Replace(" ","-")">@item.CategoryTitle</a>

                    <div class="mega-dropdown">
                        @foreach (var childCategory in item.ChildCategories)
                        {
                            <ul>
                                <li class="child-category-title">
                                    <a asp-controller="Product" asp-action="ProductsOfChildCategory"
                                       asp-route-childCategoryId="@childCategory.ChildCategoryId"
                                       asp-route-childCategoryName="@childCategory.ChildCategoryTitle">
                                        @childCategory.ChildCategoryTitle
                                    </a>
                                </li>
                            </ul>
                        }
                    </div>
                </li>
            }
            else
            {
                <li><a href="/">@item.CategoryTitle</a></li>
            }
        }

    </ul>
</nav>