@model IEnumerable<CategoriesDropdownViewModel>


<nav class="main-nav d-none d-lg-block text-center mx-auto">
    <ul>
        <li><a href="/">خانه</a></li>
        <li><a asp-controller="Shopper" asp-action="AddShopper">افزودن فروشنده</a></li>

        <li><a asp-area="ManagerPanel" asp-controller="AdminPanel" asp-action="Dashboard">مدیریت کل</a></li>

        @foreach (var item in Model)
        {
            if (item.ChildCategories.Any())
            {
                <li class="drop-down">
                    <a asp-controller="Product"
                       asp-action="ProductsOfCategory"
                       asp-route-categoryId="@item.CategoryId"
                       asp-route-categoryName="@item.CategoryTitle.Replace(" ","-")">@item.CategoryTitle</a>

                    <div class="mega-dropdown">
                        @foreach (var childCategory in item.ChildCategories)
                        {
                            <ul>
                                <li class="child-category-title">
                                    <a asp-controller="Product" asp-action="ProductsOfChildCategory"
                                       asp-route-childCategoryId="@childCategory.ChildCategoryId"
                                       asp-route-childCategoryName="@childCategory.ChildCategoryName.Replace(" ","-")">
                                        @childCategory.ChildCategoryName
                                    </a>
                                </li>
                                
                          @foreach (var brand in childCategory.TopBrands)
                          {

                              <li>
                                  <a asp-controller="Product" asp-action="ProductsOfChildCategory"
                                     asp-route-childCategoryId="@childCategory.ChildCategoryId"
                                     asp-route-childCategoryName="@childCategory.ChildCategoryName.Replace(" ","-")"
                                     asp-route-brands="@brand.Item1">@brand.Item2 (@brand.Item3.NumSplitter())</a>
                              </li>
                          }
                          
                          @if (childCategory.TopBrands.Count() == 5)
                          {
                              <li class="show-more-dropdown">
                                  <a asp-controller="Product" asp-action="ProductsOfChildCategory"
                                     asp-route-childCategoryId="@childCategory.ChildCategoryId"
                                     asp-route-childCategoryName="@childCategory.ChildCategoryName">
                                      مشاهده بیشتر
                                  </a>
                              </li>
                          }
                            </ul>
                        }

                        <div class="slider-dropdown">

                            <div id="header-menu-slider" class="carousel" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#header-menu-slider" data-slide-to="0" class="active"></li>
                                    <li data-target="#header-menu-slider" data-slide-to="1"></li>
                                    <li data-target="#header-menu-slider" data-slide-to="2"></li>
                                    <li data-target="#header-menu-slider" data-slide-to="3"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="#">     
                                            <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIjf7i8SuUv3j_VnCnzc3RPAewbs9NY3RF2qL0hdYGOtSgpMLyEUr4MUquGTAaCCR4-M4&usqp=CAU" alt="First slide">
                                        </a>
                                     </div>
                                    <div class="carousel-item">
                                        <a href="#">    
                                            <img class="d-block w-100" src="https://atlas-content-cdn.pixelsquid.com/assets_v2/248/2484978678165935682/jpeg-600/G03.jpg?modifiedAt=1" alt="Second slide">
                                        </a>
                                      </div>
                                    <div class="carousel-item">
                                        <a href="#">
                                            <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSejg2kuKEjlw1VRzvhL8Cj6jqjWEAY6TTDKw&usqp=CAU" alt="Third slide">
                                        </a> 
                                        </div>
                                    <div class="carousel-item">
                                        <a href="#">
                                            <img class="d-block w-100" src="https://ghost-armor.com/media/catalog/product/cache/f9b262cccfc4db316b94156ff62f9953/g/a/galaxy_s20_5.png" alt="Third slide">
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </li>
            }
            else
            {
                <li><a href="/">@item.CategoryTitle</a></li>
            }
        }

    </ul>
</nav>

@section Scripts
{
    <script>
        $('#header-menu-slider').carousel({
            interval: 2000
        });
    </script>
}
