@model IEnumerable<Address>
@inject IPermissionService permissionService;
@{
    ViewData["Title"] = "آدرس ها";

    int addressCounter = 1;
}
@section Css{
    <link href="~/css/select.css" rel="stylesheet" />
}
<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Address">آدرس ها</a>
    </li>
</ul>

<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">

        <partial name="Account/_MenuAccount" model="AccountMenuActivePage.Information" />

    </div>


    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <ul>
                        <li><a asp-action="Dashboard">اطلاعات شخصی</a> </li>
                        <li class="active"><a asp-action="Address">آدرس</a> </li>
                        @if (permissionService.PermissionChecker(User.FindFirstValue(ClaimTypes.NameIdentifier), "Shopper,FullManager"))
                        {
                            <li><a asp-action="Address">اطلاعات مغازه</a> </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">



                    @if (!Model.Any())
                    {
                        <div class="basket-empty">
                            <img src="/icons/Address.svg" alt="Address" />
                            <h1>
                                آدرسی یافت نشد! برای افزودن آدرس جدید بر روی     <a onclick="ShowModal('@Url.Action("NewAddress", "Account", null, Context.Request.Scheme)','آدرس جدید')">
                                    آدرس جدید
                                </a> کلیک کنید.
                            </h1>
                        </div>
                    }
                    else
                    {
                        <a class="btn btn-success text-white"
                           onclick="ShowModal('@Url.Action("NewAddress", "Account", null, Context.Request.Scheme)','آدرس جدید')">
                            افزودن ادرس  جدید
                        </a>

                        <div class="row">
                            @foreach (var address in Model)
                            {
                                <div class="col-sm-12">
                                    <div class="user-item-data">
                                        <div>
                                            <h5>ادرس شماره @addressCounter</h5>
                                            <span>
                                                <a style="margin-left: 10px;"> <i class="far fa-map-marker-check"></i></a>
                                                <a onclick="ShowModal('@Url.Action("EditAddress", "Account", new {addressId =address.AddressId}, Context.Request.Scheme)','ویرایش آدرس')"><i class="far fa-edit"></i></a>
                                            </span>
                                        </div>

                                        <p>@address.AddressText</p>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                </div>
            </div>


        </div>
    </div>
</div>

@section AfterMainOptions
{
    <partial name="_Modal" />

}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script src="~/js/select.js"></script>
}