@model IEnumerable<ShowQuestionOrCommentViewModel>
@{
    ViewData["Title"] = "بازخورد ها";
}
<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Comments">بازخورد ها</a>
    </li>
</ul>

<div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
        <partial name="Account/_MenuAccount" model="AccountMenuActivePage.Question_v_Comment" />
    </div>

    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <ul>
                        <li><a asp-action="Questions">سوالات</a> </li>
                        <li class="active"><a asp-action="Comments">نظرات</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">
                    @if (!Model.Any())
                    {
                        <div class="alert alert-warning text-muted m-0">
                            @User.FindFirstValue(ClaimTypes.Name) عزیز شما تا حالا نظری مطرح نکرده اید.
                        </div>
                    }
                    else
                    {
                        <table class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">کالا</th>
                                <th scope="col">عنوان سوال</th>
                                <th scope="col">تاریخ ارسال</th>
                            </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>
                                            <a asp-controller="Product" asp-action="ProductRedirect" asp-route-productId="@item.ProductId">
                                                @item.ProductName
                                            </a>
                                        </td>
                                        <td>@item.QuestionOrCommentTitle</td>
                                        <td>@item.SentDate.ToShamsiDateTime()</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }


                </div>

            </div>


        </div>
    </div>
</div>


