@model User
@inject IRoleService RoleService;
@{
    ViewData["Title"] = $"پنل مدیریت - {Model.FullName}";
}
<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="Dashboard">داشبورد</a>
    </li>
</ul>

<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">

        <partial name="Account/_MenuAccount" model="AccountMenuActivePage.Information" />

    </div>


    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <ul>
                        <li class="active"><a asp-action="Dashboard">اطلاعات شخصی</a> </li>
                        <li><a asp-action="Address">آدرس</a> </li>
                        @if (RoleService.PermissionChecker(Model.UserId, "Shopper,FullManager"))
                        {
                            <li><a asp-action="Address">اطلاعات مغازه</a> </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="user-item-data">
                                <div>
                                    <h5>نام و نام خانوادگی</h5>
                                    <label><i class="far fa-edit"></i></label>
                                </div>

                                <p>@Model.FullName</p>
                            </div>
                        </div>

                        <div class="col-sm-12 col-lg-6">
                            <div class="user-item-data">
                                <div>
                                    <h5>شماره تلفن</h5>
                                    <label><i class="far fa-edit"></i></label>
                                </div>

                                <p>@Model.PhoneNumber</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="user-item-data">
                                <div>
                                    <h5>ایمیل</h5>
                                    <label><i class="far fa-edit"></i></label>
                                </div>

                                <p>@Model.Email</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="user-item-data">
                                <div>
                                    <h5>کد ملی</h5>
                                    <label><i class="far fa-edit"></i></label>
                                </div>

                                <p>@Model.NationalCode</p>
                            </div>
                        </div>


                    </div>
                    
                    
                    
                    <div class="mt-5">
                        <a class="btn btn-success text-white"
                           onclick="ShowModal('@Url.Action("EditUserInformation", "Account", null, Context.Request.Scheme)','ویرایش اطلاعات')">
                            ویرایش اطلاعات
                        </a>
                    </div>
                </div>

            </div>


        </div>
        
        
        
    </div>
</div>


@section AfterMainOptions
{
    <partial name="_Modal" />

}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}