@model Tuple<IEnumerable<ProductViewModel>, int, int>
@{
    ViewData["Title"] = "کالا های مورد علاقه";
}
@section Css{
    <link href="~/css/select.css" rel="stylesheet" />
}


<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="FavoriteProducts">کالا های مورد علاقه</a>
    </li>
</ul>
<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">
        <partial name="Account/_MenuAccount" model="AccountMenuActivePage.FavoriteProducts" />
    </div>

    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <form asp-controller="Account" asp-action="FavoriteProducts" method="get" id="filterFavoriteProduct">
                        <input type="hidden" name="pageId" id="pageId" />

                        @{
                            string sortBy = ViewBag.SortBy.ToString();
                            string type = ViewBag.Type.ToString();
                        }

                        <section class="filter-box">
                            <select class="select" name="sortBy" onchange="SubmitForm('filterFavoriteProduct')">
                                <option>فیلتر بر اساس مرتب سازی</option>
                                @switch (sortBy)
                                {
                                    case "news":
                                        {
                                            <option value="news" selected>جدید ترین</option>
                                            <option value="expensive">گران ترین</option>
                                            <option value="cheap">ارزان ترین</option>
                                            break;
                                        }
                                    case "expensive":
                                        {
                                            <option value="news">جدید ترین</option>
                                            <option value="expensive" selected>گران ترین</option>
                                            <option value="cheap">ارزان ترین</option>
                                            break;
                                        }
                                    case "cheap":
                                        {
                                            <option value="news">جدید ترین</option>
                                            <option value="expensive">گران ترین</option>
                                            <option value="cheap" selected>ارزان ترین</option>
                                            break;
                                        }
                                    default:
                                        {
                                            <option value="news">علی</option>
                                            <option value="expensive">اکبر</option>
                                            <option value="cheap">اصغر</option>
                                            break;
                                        }
                                }
                            </select>

                        </section>
                    </form>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">
                    <div class="row">


                        @if (!Model.Item1.Any())
                        {
                            <div class="basket-empty">
                                <img src="~/icons/search-site.svg" alt="کالای مورد نظر یافت نشد." />
                                <h1>
                                    کالایی یافت نشد
                                </h1>
                            </div>
                        }
                        else
                        {
                            @await Html.PartialAsync("Product/_BoxProducts", Model.Item1)

                            @if (Model.Item3 > 1)
                            {
                                <ul class="pagination-custom">
                                    <li class="@(Model.Item2<=1?"disabled":"")" onclick="pagination('@(Model.Item2 - 1)')">
                                        <i class="far fa-angle-right"></i>
                                    </li>

                                    @for (var i = 1; i <= Model.Item3; i++)
                                    {
                                        <li class="@(Model.Item2 == i? "active":"")" onclick="pagination('@i')">
                                            @i
                                        </li>
                                    }

                                    <li class="@(Model.Item2 +1 > Model.Item3?"disabled":"")" onclick="pagination('@(Model.Item2+1)')">
                                        <i class="far fa-angle-left"></i>
                                    </li>

                                </ul>
                            }
                        }

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>


@section Scripts
                            {
    <script>
        function Pagination(pageId) {
            $("#pageId").val(pageId);
            document.getElementById('filterFavoriteProduct').submit();
        }
    </script>
    <script src="~/js/select.js"></script>
}
