@model IEnumerable<OrderForShowViewModel>
@inject IPermissionService permissionService;
@{
    ViewData["Title"] = "سفارش های تحویل نشده";
}
<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Account" asp-action="UnFinallyOrders">سفارش های تحویل نشده</a>
    </li>
</ul>


<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">

        <partial name="Account/_MenuAccount" model="AccountMenuActivePage.Order"/>

    </div>


    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <ul>
                        <li class="active"><a asp-action="UnFinallyOrders">تحویل نشده</a> </li>
                        <li><a asp-action="FinallyOrders">تحویل شده</a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">



                    @if (!Model.Any())
                    {
                        <div class="basket-empty">
                            <img src="/icons/basket.svg" alt="basket"/>
                            <h1>فاکتوری یافت نشد!</h1>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model)
                        {
                            <div class="order-item">
                                <div class="order-detail">
                                    <ul>
                                        <li><a asp-controller="Account" asp-action="OrderDetail" asp-route-trackingCode="@item.TrackingCode"><i class="fal fa-clock"></i> @item.PayDate.ToShamsiDateTime()</a></li>
                                        <li><a asp-controller="Account" asp-action="OrderDetail" asp-route-trackingCode="@item.TrackingCode"><i class="fal fa-barcode-read"></i> @item.TrackingCode</a></li>
                                    </ul>
                                    <p>@item.Sum.NumSplitter() <span class="toman">تومان</span></p>
                                </div>
                                <div class="show-order-pics">
                                    @foreach (var pic in item.ProPics)
                                    {
                                        <img src="/images/ProductImages/@pic" alt="orderPicture">
                                    }
                                </div>
                                <div class="more-detail-order">
                                    <a asp-controller="Account" asp-action="OrderDetail" asp-route-trackingCode="@item.TrackingCode"><i class="far fa-file-invoice"></i> مشاهده بیشتر</a>
                                    <a href=""><i class="far fa-download"></i> دانلود فاکتور</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>