@model EditProductDetailShopperViewModel
@{
    Layout = null;
}
<div class="color-selector">
    <h5><i class="far fa-paint-brush-alt"></i> رنگ:</h5>

    <div class="product-details-option-color">
        @foreach (var color in Model.Colors)
        {
            <label>
                <input type="radio" name="color" @(color.Item1 == Model.SelectedColor ? "checked" : "")
                       onclick="UpdateProductDetailShopper('@Model.ProductTitle.Replace(" ", "-")','@color.Item4')">
                <span class="checkmark">
                    <span class="color" style="background: @color.Item3;"></span>
                </span>
            </label>
        }
    </div>
</div>


<div class="seler-section">

    <h5><i class="far fa-store"></i> فروشندگان:</h5>

    <select class="Seller-ipnut" id="selected-shopper" onchange="UpdateProductDetailShopper('@Model.ProductTitle.Replace(" ", "-")',this.value)">
        @foreach (var item in Model.Shoppers)
        {
            @:<option value="@item.Item1" @(item.Item1 == Model.SelectedShopper ? "selected" : "")>فروشگاه @item.Item2 - @item.Item3</option>
        }
    </select>

</div>

<div class="price">


    <h5><i class="far fa-dollar-sign"></i> قیمت:</h5>

    @if (Model.LastDiscount != null && Model.LastDiscount.Item2 > DateTime.Now)
    {
        <span class="badge badge-pill badge-info ">@Model.LastDiscount.Item1 ٪ تخفیف</span>

        <span class="badge badge-pill badge-success text-black">سود شما: @CartCalculator.CalculateDiscount(Model.Price, Convert.ToByte(((Model.LastDiscount.Item2 > DateTime.Now) ? Model.LastDiscount.Item1 : 0))).ToToman() تومان</span>
    }

    <div class="price-amount">
        <h3>@CartCalculator.CalculateDiscount(Model.Price, Convert.ToByte(((Model.LastDiscount != null && Model.LastDiscount.Item2 > DateTime.Now) ? Model.LastDiscount.Item1 : 0))).ToToman() <span>تومان</span></h3>



        <form asp-controller="Cart" asp-action="AddToCart" onsubmit="return  AddProductToCart(this)">
            <input type="hidden" value="@Model.SelectedShopper" name="shopperProductColorId" />
            <button type="submit" class="btn btn-warning">افزودن به سبد خرید</button>
        </form>



    </div>
</div>