@model ProductDetailViewModel

@{
    ViewData["Title"] = $"مشخصات کالای {Model.Product.Title.Replace(" ", "-")}";
}

<div class="row">
    <div class="col-xs-12 col-lg-4 mb-3 mb-lg-0">

        <div class="img-detail box-shadow">
            <div class="show-img-product">
                <img id="zoom" src="/images/ProductImages/@Model.ProductGalleries.First().ImageName" alt="@Model.Product.Title">
            </div>

            <!-- start slider product picture -->
            <div id="mini-pic-slider" class="owl-carousel owl-theme">

                @foreach (var item in Model.ProductGalleries)
                {
                    <div class="mini-pic-slider">
                        <img src="/images/ProductImages/@item.ImageName" alt="@Model.Product.Title" onclick="changeDetailImg(this.src)">
                    </div>
                }

            </div>
        </div>

    </div>

    <div class="col-xs-12 col-lg-8">
        <div class="detail-info box-shadow">
            <div class="product-name">
                <h1>@Model.Product.Title</h1>
            </div>

            <div class="pro-data">

                <div class="ratting-star">
                    <span>(1 نفر)</span>
                    <ul>
                        <li>
                            <i class="far fa-star"></i>
                        </li>
                        <li>
                            <i class="far fa-star"></i>
                        </li>
                        <li class="checked">
                            <i class="far fa-star"></i>
                        </li>
                        <li class="checked">
                            <i class="far fa-star"></i>
                        </li>
                        <li class="checked">
                            <i class="far fa-star"></i>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2><i class="far fa-tags"></i> دسته بندی:</h2>

                    @foreach (var item in Model.ChildCategories)
                    {
                        <a asp-controller="Product" asp-action="ProductsOfChildCategory"
                           asp-route-childCategoryId="@item.ChildCategoryId"
                           asp-route-childCategoryName="@item.ChildCategoryTitle.Replace(" ","-")">@item.ChildCategoryTitle</a>
                    }
                </div> 
                <div>
                    <h2><i class="far fa-building"></i> برند:</h2>
                    <a asp-controller="Product" asp-action="ProductsOfBrand"
                       asp-route-brandId="@Model.Product.Brand.Item1"
                       asp-route-brandName="@Model.Product.Brand.Item2.Replace(" ","-")">@Model.Product.Brand.Item2</a>
                </div>
            </div>

            <hr />

            @* change *@

            <div id="changeShopper">
                <div class="color-selector">
                    <h5><i class="far fa-paint-brush-alt"></i> رنگ:</h5>

                    <div class="product-details-option-color">
                        @foreach (var color in Model.Colors)
                        {
                            <label>
                                <input type="radio" name="color" @(color.Item1 == Model.Product.SelectedColor ? "checked" : "")
                                       onclick="UpdateProductDetailShopper('@Model.Product.Title.Replace(" ", "-")','@color.Item4')">
                                <span class="checkmark">
                                    <span class="color" style="background: @color.Item3;"></span>
                                </span>
                            </label>
                        }
                    </div>
                </div>


                <div class="seler-section">

                    <h5><i class="far fa-store"></i> فروشندگان:</h5>

                    <select class="Seller-ipnut" id="selected-shopper" onchange="UpdateProductDetailShopper('@Model.Product.Title.Replace(" ", "-")',this.value)">
                        @foreach (var item in Model.Shoppers)
                        {
                            @:<option value="@item.Item1" @(item.Item1 == Model.Product.ShopperProductColorId ? "selected" : "")>فروشگاه @item.Item2 - @item.Item3</option>
                        }
                    </select>

                </div>

                <div class="price">


                    <h5><i class="far fa-dollar-sign"></i> قیمت:</h5>
                    @{
                        decimal discountPrice = 0;

                        @if (Model.Product.LastDiscount != null && Model.Product.LastDiscount.Item2 > DateTime.Now)
                        {
                            discountPrice = CartCalculator.CalculateDiscount(Model.Product.Price, Convert.ToByte(((Model.Product.LastDiscount.Item2 > DateTime.Now) ? Model.Product.LastDiscount.Item1 : 0)));
                        }
                    }


                    @if (Model.Product.LastDiscount != null && Model.Product.LastDiscount.Item2 > DateTime.Now)
                    {
                        <span class="badge badge-pill badge-info ">@Model.Product.LastDiscount.Item1 ٪ تخفیف</span>

                        <span class="badge badge-pill badge-success text-black">سود شما: @discountPrice.NumSplitter() تومان</span>
                    }

                    <div class="price-amount">
                        <h3>@((Model.Product.Price - discountPrice).NumSplitter()) <span>تومان</span></h3>


                        <form asp-controller="Cart" asp-action="AddToCart" onsubmit="return  AddProductToCart(this)">
                            <input type="hidden" value="@Model.Product.ShopperProductColorId" name="shopperProductColorId" />
                            <button type="submit" class="btn btn-warning">افزودن به سبد خرید</button>
                        </form>



                    </div>
                </div>
            </div>





            <hr />

            <div class="feature">
                <h5>ویژگی های محصول:</h5>
                <ul>
                    <li>حافظه ۱۲۸ گیگ</li>
                    <li>ios 12</li>
                    <li>صفحه نمایش :۵ اینچ</li>
                    <li>شبکه تلفن:3g/4g</li>
                    <li>دوربین:۲عدد</li>
                    <li>ویژگی</li>
                    <li>ویژگی</li>
                </ul>
            </div>
            <hr>
            <span class="satisfaction">
                <i class="far fa-award"></i> <span>23 کاربر</span> از این محصول رضایت داشتند.
            </span>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="detail-items box-shadow">
            <div class="selector-detail">
                <ul>
                    <li><a href="#accordiong-section">نقد و بررسی</a></li>
                    <li><a href="#information-section">مشخصات</a></li>
                    <li><a href="#comment-section">نظرات</a></li>
                </ul>
            </div>

            <hr />

            <div id="accordiong-section">

                <h5>نقد و بررسی:</h5>
                <p class="text-justify">
                    @Model.Product.Description
                </p>


                <p id="Review-fullpage" class="collapse m-0 p-0" data-parent="#accordiongID">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae doloribus quos inventore nemo obcaecati enim illum. Molestiae nisi dolore magnam veniam, doloremque omnis assumenda minima quia molestias illo. Voluptatum, libero?
                </p>


                <a data-toggle="collapse" data-target="#Review-fullpage">مشاهده ی مطالب</a>
            </div>

            <hr />

            <div class="detail-specifications" id="information-section">

                <h5>مشخصات محصول:</h5>

                <ul>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>

                </ul>
            </div>

            <hr />

            <div class="detail-comments" id="comment-section">
                <h5>امتیاز کاربران:</h5>
                <p class="positive-comment">( این محصول <span>25 بازخورد مثبت</span> داشته است. )</p>
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">میزان رضایت مندی از محصول</span>
                        <span class="percent-num">( @Model.CommentsAverage.ProductSatisfaction% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.CommentsAverage.ProductSatisfaction" aria-valuemin="0" aria-valuemax="100" style="width: @Model.CommentsAverage.ProductSatisfaction%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">امکانات و قابلیت ها</span>
                        <span class="percent-num">( @Model.CommentsAverage.FeaturesAndCapabilities% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.CommentsAverage.FeaturesAndCapabilities" aria-valuemin="0" aria-valuemax="100" style="width: @Model.CommentsAverage.FeaturesAndCapabilities%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">کیفیت ساخت</span>
                        <span class="percent-num">( @Model.CommentsAverage.ConstructionQuality% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.CommentsAverage.ConstructionQuality" aria-valuemin="0" aria-valuemax="100" style="width: @Model.CommentsAverage.ConstructionQuality%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">طراحی و ظاهر</span>
                        <span class="percent-num">( @Model.CommentsAverage.DesignAndAppearance% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.CommentsAverage.DesignAndAppearance" aria-valuemin="0" aria-valuemax="100" style="width: @Model.CommentsAverage.DesignAndAppearance%"></div>
                        </div>
                    </div>
                </div>

                <hr />
                <h5 style="margin-bottom: 5px;">نظر کاربران:</h5>

                <button class="new-comment" type="button" data-toggle="collapse" data-target="#newComment" aria-expanded="false" aria-controls="newComment">
                    بازخورد جدید
                </button>


                <div class="collapse mt-5 mb-3" id="newComment">
                    @await Html.PartialAsync("_NewComment", new NewCommentViewModel()
                    {
                   ProductId = Model.Product.ProductId
                    })
                </div>

                <div id="tableComments">

                    @await Component.InvokeAsync("ProductCommentsComponent", new { productId = Model.Product.ProductId })


                </div>
            </div>

        </div>
    </div>
</div>


@section AfterMainOptions
{
    <partial name="_toast" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}