@model ProductDetailViewModel

@{
    ViewData["Title"] = $"مشخصات کالای {Model.Product.Title.Replace(" ", "-")}";

    string shortKeyUrl = $"https://localhost:44312/p/{Model.Product.ShortKey}";
}

@section Css{
    <link href="~/css/select.css" rel="stylesheet" />
}
<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Product" asp-action="ProductsOfCategory"
           asp-route-categoryId="@Model.Category.Item1"
           asp-route-categoryName="@Model.Category.Item2.Replace(" ","-")">@Model.Category.Item2</a>
    </li>
    <li>
        <a asp-controller="Product" asp-action="ProductsOfChildCategory"
           asp-route-childCategoryId="@Model.ChildCategory.Item1"
           asp-route-childCategoryName="@Model.ChildCategory.Item2.Replace(" ","-")">@Model.ChildCategory.Item2</a>
    </li>
    <li>
        <a  asp-controller="Product" asp-action="ProductsOfChildCategory"
            asp-route-childCategoryId="@Model.ChildCategory.Item1"
            asp-route-childCategoryName="@Model.ChildCategory.Item2.Replace(" ","-")"
            asp-route-brands="@Model.Product.Brand.Item1">@Model.Product.Brand.Item2</a>
    </li>
    <li>
        <a asp-controller="Product" asp-action="ProductDetail"
           asp-route-productName="@Model.Product.Title.Replace(" ","-")"
           asp-route-sellerId="@Model.Product.ShopperProductColorId">@Model.Product.Title</a>
    </li>
</ul>

<div id="image-big-container" class="img-zoom-result"></div>

<div class="detail-header">
    <div class="right-side box-shadow">

        <form asp-controller="Account" asp-action="AddToFavoriteProduct" onsubmit="return  AddProductToFavorites(this)" id="add-favorite">
            <input type="hidden" value="@Model.Product.ShopperProductColorId" name="shopperProductColorId" />
            <button type="submit"><i class="fal fa-heart"></i></button>
        </form>


        <a asp-controller="Product" asp-action="Compare" asp-route-products="@Model.Product.ProductId">
            <i class="fal fa-sync-alt"></i>
        </a>

        <form asp-controller="Account" asp-action="AddToFavoriteProduct" onsubmit="return  AddProductToFavorites(this)">
            <input type="hidden" value="@Model.Product.ShopperProductColorId" name="shopperProductColorId" />
            <button type="submit"><i class="fal fa-analytics"></i></button>
        </form>

    </div>
    <div id="short-key" class="left-side box-shadow">
        <span class="title"> لینک کوتاه </span>
        <span class="link">@shortKeyUrl</span>
        <a onclick="CopyToClipboard(this)" class="copy-btn" data-clipboard-text="@shortKeyUrl"><i class="fal fa-copy"></i></a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-lg-5 mb-3 mb-lg-0">

        <div class="img-detail box-shadow">
            <div class="show-img-product">
                <img id="zoom" onclick="imageZoom('zoom', 'image-big-container')" src="/images/ProductImages/@Model.ProductGalleries.First().ImageName" alt="@Model.Product.Title">
            </div>

            <!-- start slider product picture -->
            <div class="swiper" id="images-swiper">
                <div class="swiper-wrapper">
            
                    @foreach (var item in Model.ProductGalleries)
                    {
                        <div class="swiper-slide mini-pic-slider">
                            <img src="/images/ProductImages/@item.ImageName" alt="@Model.Product.Title" onclick="changeDetailImg(this.src)">
                        </div>
                    }

                </div>
                
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            
        </div>

    </div>

    <div class="col-sm-12 col-lg-7">
        <div class="detail-info box-shadow">
            <div class="product-name">
                <h1>@Model.Product.Title</h1>
            </div>

            <div class="pro-data">

                @{ int rattingScore = (int)Model.Comments.CommentsScore;}

                <div class="ratting-star">
                    <span>(@Model.Comments.AllCommentsCount.NumSplitter() نفر)</span>
                    <span>(@Model.Comments.CommentsScore از 5) </span>
                    <ul>
                        @for (int i = 1; i < 6; i++)
                        {
                            <li class="@( i<= rattingScore?"checked":"")">
                                <i class="far fa-star"></i>
                            </li>
                        }
                    </ul>
                </div>

                <div>
                    <h2><i class="far fa-tags"></i> دسته بندی: </h2>

                        <a asp-controller="Product" asp-action="ProductsOfChildCategory"
                           asp-route-childCategoryId="@Model.ChildCategory.Item1"
                           asp-route-childCategoryName="@Model.ChildCategory.Item2.Replace(" ","-")">@Model.ChildCategory.Item2</a>
                    
                </div>
                <div>
                    <h2><i class="far fa-building"></i> برند: </h2>
                    <a asp-controller="Product" asp-action="ProductsOfBrand"
                       asp-route-brandId="@Model.Product.Brand.Item1"
                       asp-route-brandName="@Model.Product.Brand.Item2.Replace(" ","-")">@Model.Product.Brand.Item2</a>
                </div>
                <div id="shopper">
                    <h2><i class="far fa-store"></i> فروشگاه: </h2>
                    <a asp-controller="Product" asp-action="ProductsOfShopper"
                       asp-route-shopperId="@Model.Shopper.Item1"
                       asp-route-storeName="@Model.Shopper.Item2.Replace(" ","-")">@Model.Shopper.Item2</a>
                </div>
            </div>

            <hr />

            @* change *@

            <div id="product-data">
                <div class="color-selector">
                    <h5><i class="far fa-paint-brush-alt"></i> رنگ:</h5>

                    <div class="product-details-option-color">
                        @foreach (var color in Model.Colors)
                        {
                            <label>
                                <input type="radio" name="color" @(color.Item1 == Model.Product.SelectedColor ? "checked" : "")
                                       onclick="UpdateProductDetailShopper('@Model.Product.Title.Replace(" ", "-")','@color.Item4')">
                                <span class="checkmark">
                                    <span class="color" style="background: @color.Item3;"></span>
                                </span>
                            </label>
                        }
                    </div>
                </div>


                <div class="seler-section">

                    <h5><i class="far fa-store"></i> فروشندگان:</h5>

                    <select id="selected-shopper" onchange="UpdateProductDetailShopper('@Model.Product.Title.Replace(" ", "-")',this.value)">
                        @foreach (var item in Model.Shoppers)
                        {
                            @:<option value="@item.Item1" @(item.Item1 == Model.Product.ShopperProductColorId ? "selected" : "")>فروشگاه @item.Item2 - @item.Item3</option>
                        }
                    </select>

                </div>

                <div class="price">


                    <h5><i class="far fa-dollar-sign"></i> قیمت:</h5>
                    @{
                        decimal discountPrice = 0;

                        @if (Model.Product.LastDiscount != null && Model.Product.LastDiscount.Item2 > DateTime.Now)
                        {
                            discountPrice = CartCalculator.CalculatePrice(Model.Product.Price, Convert.ToByte(((Model.Product.LastDiscount.Item2 > DateTime.Now) ? Model.Product.LastDiscount.Item1 : 0)));
                        }
                    }


                    @if (Model.Product.LastDiscount != null && Model.Product.LastDiscount.Item2 > DateTime.Now)
                    {
                        <span class="badge badge-pill badge-info ">@Model.Product.LastDiscount.Item1 ٪ تخفیف</span>

                        <span class="badge badge-pill badge-success text-black">سود شما: @discountPrice.NumSplitter() تومان</span>
                    }

                    <div class="price-amount">
                        <h3>@((Model.Product.Price - discountPrice).NumSplitter()) <span>تومان</span></h3>


                        <form asp-controller="Cart" asp-action="AddToCart" onsubmit="return  AddProductToCart(this)">
                            <input type="hidden" value="@Model.Product.ShopperProductColorId" name="shopperProductColorId" />
                            <button type="submit" class="btn">افزودن به سبد خرید</button>
                        </form>

                    </div>
                </div>
            </div>

            @switch (Model.Product.Type)
                    {
                        case ProductConstants.Aux:
                        {
                            break;
                        }
                        case ProductConstants.Mobile:
                        {
                            <hr />

                            <div class="feature">
                                <h5>ویژگی های محصول:</h5>
                                <ul>
                                    <li>صفحه نمایش @Model.Product.MobileDetail.DisplaySize اینچی</li>
                                    <li>حافظه داخلی @Model.Product.MobileDetail.InternalStorage گیگابایتی</li>
                                    <li>دارای شبکه های ارتباطی @Model.Product.MobileDetail.ConnectionsNetwork.Replace("&","و")</li>
                                    </ul>
                            </div>

                            break;
                        }
                    }

            <hr>
            <span class="satisfaction">
                <i class="far fa-award"></i> <span>@Model.Comments.SuggestedBuyersCounts خریدار</span> از این محصول رضایت داشتند.
            </span>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="detail-items box-shadow">
            <div class="selector-detail">
                <ul>
                    <li><a href="#accordiong-section">نقد و بررسی</a></li>
                    <li><a href="#information-section">مشخصات</a></li>
                    <li><a href="#comment-section">بازخورد ها</a></li>
                    <li><a href="#question-section">پرسش و پاسخ</a></li>
                </ul>
            </div>

            <hr />

            <div id="accordiong-section">

                <h5>نقد و بررسی:</h5>
                <p>
                    @Html.Raw(Model.Product.Description)
                </p>


                <p id="Review-fullpage" class="collapse m-0 p-0" data-parent="#accordiongID">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae doloribus quos inventore nemo obcaecati enim illum. Molestiae nisi dolore magnam veniam, doloremque omnis assumenda minima quia molestias illo. Voluptatum, libero?
                </p>


                <a data-toggle="collapse" data-target="#Review-fullpage">مشاهده ی مطالب</a>
            </div>

            <hr />

            <div class="detail-specifications" id="information-section">

                <h5>مشخصات محصول:</h5>

                <ul>
                    @switch (Model.Product.Type)
                    {
                        case ProductConstants.Aux:
                        {
                            @if (Model.Product.AuxDetail != null)
                            {
                                <li>
                                    <span>نوع کابل</span>
                                    <span>
                                        @Model.Product.AuxDetail.CableMaterial
                                    </span>
                                </li>
                                <li>
                                    <span>طول کابل</span>
                                    <span>
                                        @Model.Product.AuxDetail.CableLenght سانتی متر
            
                                    </span>
                                </li>
                            }
                            break;
                        }
                        case ProductConstants.Mobile:
                        {
                            <li>
                                <span>ابعاد</span>
                                <span>
                                    @Model.Product.MobileDetail.Height * @Model.Product.MobileDetail.Length * @Model.Product.MobileDetail.Width
                                </span>
                            </li>
                            <li>
                                <span>وزن</span>
                                <span>
                                    @Model.Product.MobileDetail.Weight گرم
                                </span>
                            </li>
                            <li>
                                <span>تعداد سیمکارت</span>
                                <span>
                                    @Model.Product.MobileDetail.SimCardQuantity عدد
                                </span>
                            </li>
                            <li>
                                <span>ورودی سیمکارت</span>
                                <span>
                                    @Model.Product.MobileDetail.SimCardInput
                                </span>
                            </li>
                            <li>
                                <span>شیار کارت حافظه</span>
                                <span>
                                    @Model.Product.MobileDetail.SeparateSlotMemoryCard.BoolToText("دارد","ندارد")
                                </span>
                            </li>
                            <li>
                                <span>تاریخ معرفی</span>
                                <span>
                                    @Model.Product.MobileDetail.Announced.ToShamsiDate()
                                </span>
                            </li>
                            <li>
                                <span>تراشه</span>
                                <span>
                                    @Model.Product.MobileDetail.Chipset.ChipsetName
                                </span>
                            </li>
                            <li>
                                <span>پردازنده مرکزی</span>
                                <span>
                                    @Model.Product.MobileDetail.Cpu.CpuName
                                </span>
                            </li>
                            <li>
                                <span>فرکانس پردازنده</span>
                                <span>
                                    @Model.Product.MobileDetail.CpuAndFrequency
                                </span>
                            </li>
                            <li>
                                <span>معماری پردازنده</span>
                                <span>
                                    @Model.Product.MobileDetail.CpuArch.CpuArchName
                                </span>
                            </li>
                            <li>
                                <span>پردازنده گرافیکی</span>
                                <span>
                                    @Model.Product.MobileDetail.Gpu.GpuName
                                </span>
                            </li>
                            <li>
                                <span>حافظه داخلی</span>
                                <span>
                                    @Model.Product.MobileDetail.InternalStorage گیگابایت
                                </span>
                            </li>
                            <li>
                                <span>حافظه RAM</span>
                                <span>
                                    @Model.Product.MobileDetail.Ram گیگابایت
                                </span>
                            </li>
                            <li>
                                <span>پشتیانی از حافظه ی جانبی</span>
                                <span>
                                    @Model.Product.MobileDetail.SdCard 
                                </span>
                            </li>
                            <li>
                                <span>استاندارد حافظه جانبی</span>
                                <span>
                                    @Model.Product.MobileDetail.SdCardStandard 
                                </span>
                            </li>
                            <li>
                                <span>صفحه نمایش رنگی</span>
                                <span>
                                    @Model.Product.MobileDetail.ColorDisplay.BoolToText("دارد","ندارد") 
                                </span>
                            </li>
                            <li>
                                <span>صفحه نمایش لمسی</span>
                                <span>
                                    @Model.Product.MobileDetail.TouchDisplay.BoolToText("دارد","ندارد") 
                                </span>
                            </li>
                            <li>
                                <span>فناوری صفحه نمایش</span>
                                <span>
                                    @Model.Product.MobileDetail.DisplayTechnology
                                </span>
                            </li>
                            <li>
                                <span>اندازه صفحه نمایش</span>
                                <span>
                                    @Model.Product.MobileDetail.DisplaySize اینچ
                                </span>
                            </li>
                            <li>
                                <span>رزولوشن</span>
                                <span>
                                    @Model.Product.MobileDetail.Resolution پیکسل
                                </span>
                            </li>
                            <li>
                                <span>تراکم پیکسلی</span>
                                <span>
                                    @Model.Product.MobileDetail.PixelDensity
                                </span>
                            </li>
                            <li>
                                <span>نسبت صفحه نمایش به بدنه</span>
                                <span>
                                    @Model.Product.MobileDetail.ScreenToBodyRatio
                                </span>
                            </li>
                            <li>
                                <span>نسبت تصویر</span>
                                <span>
                                    @Model.Product.MobileDetail.ImageRatio
                                </span>
                            </li>
                            <li>
                                <span>محافظت صفحه</span>
                                <span>
                                    @Model.Product.MobileDetail.DisplayProtection
                                </span>
                            </li>
                            @if (Model.Product.MobileDetail.DisplayMoreInformation != null)
                            {
                                <li>
                                    <span>سایر قابلیت ها</span>
                                    <span>
                                        @Model.Product.MobileDetail.DisplayMoreInformation
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.ConnectionsNetwork != null)
                            {
                                <li>
                                    <span>شبکه های ارتباطی</span>
                                    <span>
                                        @Model.Product.MobileDetail.ConnectionsNetwork.Replace("&","و")
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.GsmNetwork != null)
                            {
                                <li>
                                    <span>2G شبکه</span>
                                    <span>
                                        @Model.Product.MobileDetail.GsmNetwork.Replace("&","و")
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.HspaNetwork != null)
                            {
                                <li>
                                    <span>3G شبکه</span>
                                    <span>
                                        @Model.Product.MobileDetail.HspaNetwork.Replace("&","و")
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.LteNetwork != null)
                            {
                                <li>
                                    <span>4G شبکه</span>
                                    <span>
                                        @Model.Product.MobileDetail.LteNetwork.Replace("&","و")
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.FiveGNetwork != null)
                            {
                                <li>
                                    <span>5G شبکه</span>
                                    <span>
                                        @Model.Product.MobileDetail.FiveGNetwork.Replace("&","و")
                                    </span>
                                </li>
                            }
                            <li>
                                <span>فناوری ارتباطی</span>
                                <span>
                                    @Model.Product.MobileDetail.CommunicationTechnology
                                </span>
                            </li>
                            @if (Model.Product.MobileDetail.WiFi != null)
                            {
                                <li>
                                    <span>WiFi</span>
                                    <span>
                                        @Model.Product.MobileDetail.WiFi.Replace("&","و")
                                    </span>
                                </li>
                            }
                            <li>
                                <span>رادیو</span>
                                <span>
                                    @Model.Product.MobileDetail.Radio.BoolToText("دارد","ندارد") 
                                </span>
                            </li>
                            <li>
                                <span>بلوتوث</span>
                                <span>
                                    @Model.Product.MobileDetail.Bluetooth.Replace("&","و")
                                </span>
                            </li>
                            @if (Model.Product.MobileDetail.GpsInformation != null)
                            {
                                <li>
                                    <span>فناوری مکان یابی</span>
                                    <span>
                                        @Model.Product.MobileDetail.GpsInformation.Replace("&","و")
                                    </span>
                                </li>
                            }
                            <li>
                                <span>درگاه ارتباطی</span>
                                <span>
                                    @Model.Product.MobileDetail.ConnectionPort
                                </span>
                            </li>
                            @if (Model.Product.MobileDetail.ConnectionsMoreInformation != null)
                            {
                                <li>
                                    <span>سایر قابلیت ها</span>
                                    <span>
                                        @Model.Product.MobileDetail.ConnectionsMoreInformation
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.Cameras != null)
                            {
                                <li>
                                    <span>دوربین ها</span>
                                    <span>
                                        @Model.Product.MobileDetail.Cameras.Replace("&","و")
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.PhotoResolution != 0)
                            {
                                <li>
                                    <span>رزولوشن عکس دوربین اصلی</span>
                                    <span>
                                        @Model.Product.MobileDetail.PhotoResolution مگاپیکسل
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.SelfiCameraResolution != 0)
                            {
                                <li>
                                    <span>رزولوشن عکس دوربین سلغی</span>
                                    <span>
                                        @Model.Product.MobileDetail.SelfiCameraResolution مگاپیکسل
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.MacroCameraResolution != 0)
                            {
                                <li>
                                    <span>رزولوشن عکس دوربین ماکرو</span>
                                    <span>
                                        @Model.Product.MobileDetail.MacroCameraResolution مگاپیکسل
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.WideCameraResolution != 0)
                            {
                                <li>
                                    <span>رزولوشن عکس دوربین واید</span>
                                    <span>
                                        @Model.Product.MobileDetail.WideCameraResolution مگاپیکسل
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.DepthCameraResolution != 0)
                            {
                                <li>
                                    <span>رزولوشن عکس دوربین عمق دید</span>
                                    <span>
                                        @Model.Product.MobileDetail.DepthCameraResolution مگاپیکسل
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.CameraCapabilities != null)
                            {
                                <li>
                                    <span>قابلیت های دوربین اصلی</span>
                                    <span>
                                        @Model.Product.MobileDetail.CameraCapabilities 
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.SelfiCameraCapabilities != null)
                            {
                                <li>
                                    <span>قابلیت های دوربین اصلی</span>
                                    <span>
                                        @Model.Product.MobileDetail.SelfiCameraCapabilities 
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.MacroCameraCapabilities != null)
                            {
                                <li>
                                    <span>قابلیت های دوربین ماکرو</span>
                                    <span>
                                        @Model.Product.MobileDetail.MacroCameraCapabilities 
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.WideCameraCapabilities != null)
                            {
                                <li>
                                    <span>قابلیت های دوربین واید</span>
                                    <span>
                                        @Model.Product.MobileDetail.WideCameraCapabilities 
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.DepthCameraCapabilities != null)
                            {
                                <li>
                                    <span>قابلیت های دوربین عمق دید</span>
                                    <span>
                                        @Model.Product.MobileDetail.DepthCameraCapabilities 
                                    </span>
                                </li>
                            }
                            
                            @if (Model.Product.MobileDetail.PhotoCameraVideo != null)
                            {
                                List<string> items = Model.Product.MobileDetail.PhotoCameraVideo.ToList("&");

                                <li>
                                    <span>فیلم برداری دوربین اصلی</span>
                                    <span>
                                        <ul>
                                            @foreach (string item in items)
                                            {
                                                <li>@item</li>
                                            }
                                        </ul>
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.SelfiCameraVideo != null)
                            {
                                List<string> items = Model.Product.MobileDetail.SelfiCameraVideo.ToList("&");

                                <li>
                                    <span>فیلم برداری دوربین اصلی</span>
                                    <span>
                                        <ul>
                                            @foreach (string item in items)
                                            {
                                                <li>@item</li>
                                            }
                                        </ul>
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.PhotoCameraVideo != null)
                            {
                                List<string> items = Model.Product.MobileDetail.PhotoCameraVideo.ToList("&");

                                <li>
                                    <span>فیلم برداری دوربین سلفی</span>
                                    <span>
                                        <ul>
                                            @foreach (string item in items)
                                            {
                                                <li>@item</li>
                                            }
                                        </ul>
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.MacroCameraVideo != null)
                            {
                                List<string> items = Model.Product.MobileDetail.MacroCameraVideo.ToList("&");

                                <li>
                                    <span>فیلم برداری دوربین ماکرو</span>
                                    <span>
                                        <ul>
                                            @foreach (string item in items)
                                            {
                                                <li>@item</li>
                                            }
                                        </ul>
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.WideCameraVideo != null)
                            {
                                List<string> items = Model.Product.MobileDetail.WideCameraVideo.ToList("&");

                                <li>
                                    <span>فیلم برداری دوربین واید</span>
                                    <span>
                                        <ul>
                                            @foreach (string item in items)
                                            {
                                                <li>@item</li>
                                            }
                                        </ul>
                                    </span>
                                </li>
                            }
                            @if (Model.Product.MobileDetail.DepthCameraVideo != null)
                            {
                                List<string> items = Model.Product.MobileDetail.DepthCameraVideo.ToList("&");

                                <li>
                                    <span>فیلم برداری دوربین عمق دید</span>
                                    <span>
                                        <ul>
                                            @foreach (string item in items)
                                            {
                                                <li>@item</li>
                                            }
                                        </ul>
                                    </span>
                                </li>
                            }

                            @if(Model.Product.MobileDetail.CameraMoreInformation != null){ 
                                <li>
                                    <span>سایر قابلیت ها</span>
                                    <span>
                                        @Model.Product.MobileDetail.CameraMoreInformation
                                    </span>
                                </li>
                            }
                            <li>
                                <span>بلندگو</span>
                                <span>
                                    @Model.Product.MobileDetail.Speakers.BoolToText("دارد","ندارد") 
                                </span>
                            </li>
                            <li>
                                <span>خروجی صدا</span>
                                <span>
                                    @Model.Product.MobileDetail.OutputAudio
                                </span>
                            </li>
                            @if(Model.Product.MobileDetail.AudioMoreInformation != null){ 
                                <li>
                                    <span>سایر قابلیت ها</span>
                                    <span>
                                        @Model.Product.MobileDetail.AudioMoreInformation
                                    </span>
                                </li>
                            }
                            <li>
                                <span>سیستم عامل</span>
                                <span>
                                    @Model.Product.MobileDetail.OperatingSystem.OperatingSystemName
                                </span>
                            </li>
                            <li>
                                <span>نسخه ی سیستم عامل</span>
                                <span>
                                    @Model.Product.MobileDetail.OperatingSystemVersion.OperatingSystemVersionName
                                </span>
                            </li>
                            <li>
                                <span>رابط کاربری</span>
                                <span>
                                    @Model.Product.MobileDetail.UiVersion
                                </span>
                            </li>
                            @if(Model.Product.MobileDetail.SoftWareMoreInformation != null){ 
                                <li>
                                    <span>سایر قابلیت ها</span>
                                    <span>
                                        @Model.Product.MobileDetail.SoftWareMoreInformation]
                                    </span>
                                </li>
                            }
                            <li>
                                <span>نوع باتری</span>
                                <span>
                                    @Model.Product.MobileDetail.BatteryMaterial
                                </span>
                            </li>
                            <li>
                                <span>ظرفیت باتری</span>
                                <span>
                                    @Model.Product.MobileDetail.BatteryCapacity
                                </span>
                            </li>
                            <li>
                                <span>باتری قابل تعویض</span>
                                <span>
                                    @Model.Product.MobileDetail.RemovableBattery.BoolToText("دارد","ندارد") 
                                </span>
                            </li>

                            <li>
                                <span>سنسور ها</span>
                                <span>
                                    @Model.Product.MobileDetail.Sensors
                                </span>
                            </li>

                            <li>
                                <span>اقلامات داخل جعبه</span>
                                <span>
                                    @Model.Product.MobileDetail.ItemsInBox
                                </span>
                            </li>



                            break;
                        }
                    }

              
                </ul>
            </div>

            <hr />

            <div class="detail-comments" id="comment-section">
                <h5>امتیاز کاربران:</h5>
                <p class="positive-comment">( این محصول <span>@Model.Comments.SuggestedCommentsCounts بازخورد مثبت</span> داشته است. )</p>
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">میزان رضایت مندی از محصول</span>
                        <span class="percent-num">( @Model.Comments.ProductSatisfaction% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.Comments.ProductSatisfaction" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Comments.ProductSatisfaction%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">امکانات و قابلیت ها</span>
                        <span class="percent-num">( @Model.Comments.FeaturesAndCapabilities% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.Comments.FeaturesAndCapabilities" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Comments.FeaturesAndCapabilities%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">کیفیت ساخت</span>
                        <span class="percent-num">( @Model.Comments.ConstructionQuality% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.Comments.ConstructionQuality" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Comments.ConstructionQuality%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">طراحی و ظاهر</span>
                        <span class="percent-num">( @Model.Comments.DesignAndAppearance% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.Comments.DesignAndAppearance" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Comments.DesignAndAppearance%"></div>
                        </div>
                    </div>
                </div>

                <hr />
                <h5 style="margin-bottom: 5px;">نظر کاربران:</h5>

                <button class="new-comment" type="button" data-toggle="collapse" data-target="#newComment" aria-expanded="false" aria-controls="newComment">
                    بازخورد جدید
                </button>

                <div class="collapse mt-5 mb-3" id="newComment">
                    @await Html.PartialAsync("Comment/_NewComment", new NewCommentViewModel()
                    {
                   ProductId = Model.Product.ProductId
                    })
                </div>

                <div id="tableComments">

                    @await Component.InvokeAsync("ProductCommentsComponent", new { productId = Model.Product.ProductId })


                </div>
            </div>

            <hr />

            <div class="detail-questions" id="question-section">
                <h5>پرسش و پاسخ:</h5>
                <button class="new-question" type="button" data-toggle="collapse" data-target="#newQuestion" aria-expanded="false" aria-controls="newQuestion">
                    سوال جدید
                </button>

                <div class="collapse mt-5 mb-3" id="newQuestion">
                    @await Html.PartialAsync("Question/_NewQuestion", new AddQuestionViewModel()
                    {
                        ProductId = Model.Product.ProductId
                    })
                </div>

                <div id="tableQuestions">
                    @await Component.InvokeAsync("ProductQuestionsComponent", new { productId = Model.Product.ProductId })
                </div>
            </div>

        </div>
    </div>
</div>


@section AfterMainOptions
{
    <partial name="_Modal" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/select.js"></script>
    <script>
        const imagesSwiper = new Swiper('#images-swiper', {
            slidesPerView: 'auto',
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
}