@model CategoryOrChildCategoryProductsForShow
@{
    ViewData["Title"] = ViewData["CategoryName"].ToString()?.Replace("-", " ");
}

@section Css
{
    <link href="~/css/nouislider.min.css" rel="stylesheet" />
}


<form asp-action="ProductsOfCategory" method="get" id="formCategory">
    <input type="hidden" name="pageId" id="pageId" />

    <div class="top-filter box-shadow">
        <section class="p-one">
            <div class="search-form">
                <div class="form">
                    <input type="text" name="search" placeholder="عنوان مورد نظر ...">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>

        </section>
        <section class="p-two">
            <h3><i class="far fa-stream"></i> فیلتر بر اساس دسته بندی:</h3>



            <div class="sortBy-choice">

                @switch (ViewBag.SortBy.ToString())
                {
                    case "News":
                        {
                            <div class="item">
                                <input type="radio" name="sortBy" value="News" id="news-radio" checked>
                                <label for="news-radio">جدید ترین ها</label>
                            </div>
                            <div class="item">
                                <input type="radio" name="sortBy" value="Expensive" id="expensive-radio">
                                <label for="expensive-radio">گران</label>
                            </div>
                            <div class="item">
                                <input type="radio" name="sortBy" value="Cheap" id="cheap-radio">
                                <label for="cheap-radio">ارزان</label>
                            </div>
                            break;
                        }
                    case "Expensive":
                        {
                            <div class="item">
                                <input type="radio" name="sortBy" value="News" id="news-radio">
                                <label for="news-radio">جدید ترین ها</label>
                            </div>
                            <div class="item">
                                <input type="radio" name="sortBy" value="Expensive" id="expensive-radio" checked>
                                <label for="expensive-radio">گران</label>
                            </div>
                            <div class="item">
                                <input type="radio" name="sortBy" value="Cheap" id="cheap-radio">
                                <label for="cheap-radio">ارزان</label>
                            </div>
                            break;
                        }
                    case "Cheap":
                        {
                            <div class="item">
                                <input type="radio" name="sortBy" value="News" id="news-radio">
                                <label for="news-radio">جدید ترین ها</label>
                            </div>
                            <div class="item">
                                <input type="radio" name="sortBy" value="Expensive" id="expensive-radio">
                                <label for="expensive-radio">گران</label>
                            </div>
                            <div class="item">
                                <input type="radio" name="sortBy" value="Cheap" id="cheap-radio" checked>
                                <label for="cheap-radio">ارزان</label>
                            </div>
                            break;
                        }
                    default:
                        {
                            <div class="item">
                                <input type="radio" name="sortBy" value="News" id="news-radio" checked>
                                <label for="news-radio">جدید ترین ها</label>
                            </div>
                            <div class="item">
                                <input type="radio" name="sortBy" value="Expensive" id="expensive-radio">
                                <label for="expensive-radio">گران</label>
                            </div>
                            <div class="item">
                                <input type="radio" name="sortBy" value="Cheap" id="cheap-radio">
                                <label for="cheap-radio">ارزان</label>
                            </div>
                            break;
                        }
                }

            </div>



        </section>

    </div>


    <div class="row">
        <div class="col-md-4 col-lg-3">
            <div class="main-filter">
                <section class="filter-by-price box-shadow mb-4">

                    <button type="button" data-toggle="collapse" data-target="#collapsePrice" aria-expanded="false" aria-controls="collapsePrice">
                        <i class="far fa-dollar-sign"></i> فیلتر بر اساس قیمت
                    </button>

                    <div class="collapse" id="collapsePrice">
                        <div class="price-range">
                            <input type="hidden" value="" id="min-value" name="minPrice">
                            <input type="hidden" value="" id="max-value" name="maxPrice">

                            <div id="priceFilter"></div>

                            <div class="min-price">از <span id="min-text"></span> تومان</div>
                            <div class="max-price">تا <span id="max-text"></span> تومان</div>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-info" onclick="SubmitForm('formCategory')">
                                <i class="far fa-filter"></i> اعمال فیلتر محدوده قیمت
                            </button>
                        </div>
                    </div>

                </section>

                <section class="filter-by-brand box-shadow mb-4">
                    <button type="button" data-toggle="collapse" data-target="#collapseBrands" aria-expanded="false" aria-controls="collapseBrands">
                        <i class="far fa-store"></i> فیلتر بر اساس برند
                    </button>
                    <div class="collapse" id="collapseBrands">
                        <div class="form">
                            <input id="brand-filter" type="text" onkeyup="BrandFilter(this)" placeholder="برند مورد نظر ...">
                            <button onclick="ResetBrandFilterValue(this)" id="brand-remove"><i class="far fa-remove"></i></button>
                        </div>

                        <div class="brands">

                            @{
                                List<string> selectedBrands = ViewBag.SelectedBrands as List<string>;
                            }
                            @foreach (var item in Model.Brands)
                            {
                            <div>
                                <input type="checkbox" name="brands" value="@item" @(selectedBrands!.Any(c=> c == item)?"checked":"")>
                                <span>@item</span>
                            </div>
                            }
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-md-8 col-lg-9">
            <div class="row">
                @if (!Model.Products.Any())
                {
                    <div class="alert alert-warning text-muted">
                      متاسفانه محصولی یافت نشد.
                    </div>
                }
                else
                {
                    @await Html.PartialAsync("Product/_BoxProducts", Model.Products)
                }
            </div>

            @if (Model.TotalPages > 1)
            {
                <ul class="pagination-custom">
                    <li class="@(Model.PageId<=1?"disabled":"")">
                        <a onclick="Pagination('@(Model.PageId - 1)')" href="#">
                            <i class="far fa-angle-right"></i>
                        </a>
                    </li>
                    @for (var i = 1; i <= Model.TotalPages; i++)
                    {
                        <li class="@(Model.PageId == i? "active":"")">
                            <a onclick="Pagination('@i')" href="#">
                                @i
                            </a>
                        </li>
                    }

                    <li class="@(Model.PageId +1 > Model.TotalPages?"disabled":"")">
                        <a onclick="Pagination('@((Model.PageId)++)')" href="#">
                            <i class="far fa-angle-left"></i>
                        </a>
                    </li>
                </ul>
            }
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/nouislider.min.js"></script>


    <script type="text/javascript">
        $(function () {
            var slider = document.getElementById('priceFilter');
            noUiSlider.create(slider,
                {
                    start: [0, 20000000],
                    step: 1,
                    connect: true,
                    direction: 'rtl',
                    range: {
                        'min': 0,
                        'max': 20000000
                    }
                });

            var marginMin = document.getElementById('min-text'),
                marginMax = document.getElementById('max-text');

            slider.noUiSlider.on('update',
                function (values, handle) {
                    var xvalue = Math.round(values[handle]);
                    if (handle) {
                        marginMax.innerHTML = xvalue;
                    } else {
                        marginMin.innerHTML = xvalue;
                    }
                });

            slider.noUiSlider.on('change',
                function (values, handle) {
                    var xvalue = Math.round(values[handle]);
                    if (handle) {
                        // setGetParameter('max_price', xvalue);
                        $('#max-value').val(xvalue);
                    } else {
                        // setGetParameter('min_price', xvalue);
                        $('#min-value').val(xvalue);
                    }
                });


            slider.noUiSlider.on('slide',
                function (values, handle) {

                    console.log(values[0]);
                    console.log(values[1]);

                    Math.round(values[handle]);
                });


            function updateSliderRange(min, max) {
                slider.noUiSlider.updateOptions({
                    range: {
                        'min': min,
                        'max': max
                    }
                });
            }
        });


        $(function () {
            let radios = $(".sortBy-choice .item input");

            for (const item of radios) {
                item.addEventListener('click',
                    function () {
                        document.getElementById('formCategory').submit();
                    });
            }

        });

        function Pagination(pageId) {
            $("#pageId").val(pageId);
            document.getElementById('formCategory').submit();
        }


    </script>
}