@model ProductDetailViewModel

@{
    ViewData["Title"] = $"مشخصات کالای {Model.Product.Title.Replace(" ", "-")}";

    string shortKeyUrl = $"https://localhost:44312/p/{Model.Product.ShortKey}";
}

@section Css{
    <link href="~/css/select.css" rel="stylesheet" />
}
<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Product" asp-action="ProductsOfCategory"
           asp-route-categoryId="@Model.Category.Item1"
           asp-route-categoryName="@Model.Category.Item2.Replace(" ","-")">@Model.Category.Item2</a>
    </li>
    <li>
        <a asp-controller="Product" asp-action="ProductsOfChildCategory"
           asp-route-childCategoryId="@Model.ChildCategory.Item1"
           asp-route-childCategoryName="@Model.ChildCategory.Item2.Replace(" ","-")">@Model.ChildCategory.Item2</a>
    </li>
    <li>
        <a  asp-controller="Product" asp-action="ProductsOfChildCategory"
            asp-route-childCategoryId="@Model.ChildCategory.Item1"
            asp-route-childCategoryName="@Model.ChildCategory.Item2.Replace(" ","-")"
            asp-route-brands="@Model.Product.Brand.Item1">@Model.Product.Brand.Item2</a>
    </li>
    <li>
        <a asp-controller="Product" asp-action="ProductDetail"
           asp-route-productName="@Model.Product.Title.Replace(" ","-")"
           asp-route-sellerId="@Model.Product.ShopperProductColorId">@Model.Product.Title</a>
    </li>
</ul>

<div id="image-big-container" class="img-zoom-result"></div>

<div class="detail-header">
    <div class="right-side box-shadow">

        <form asp-controller="Product" asp-action="AddToFavoriteProduct" onsubmit="return  AddProductToFavorites(this)">
            <input type="hidden" value="@Model.Product.ShopperProductColorId" name="shopperProductColorId" />
            <button type="submit"><i class="fal fa-heart"></i></button>
        </form>


        <form asp-controller="Product" asp-action="AddToFavoriteProduct" onsubmit="return  AddProductToFavorites(this)">
            <input type="hidden" value="@Model.Product.ShopperProductColorId" name="shopperProductColorId" />
            <button type="submit"><i class="fal fa-analytics"></i></button>
        </form>

        <form asp-controller="Product" asp-action="AddToFavoriteProduct" onsubmit="return  AddProductToFavorites(this)">
            <input type="hidden" value="@Model.Product.ShopperProductColorId" name="shopperProductColorId" />
            <button type="submit"><i class="fal fa-sync-alt"></i></button>
        </form>

    </div>
    <div class="left-side box-shadow">
        <span class="title"> لینک کوتاه </span>
        <span class="link">@shortKeyUrl</span>
        <a onclick="CopyToClipboard(this)" class="copy-btn" data-clipboard-text="@shortKeyUrl"><i class="fal fa-copy"></i></a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-5 mb-3 mb-lg-0">

        <div class="img-detail box-shadow">
            <div class="show-img-product">
                <img id="zoom" onclick="imageZoom('zoom', 'image-big-container')" src="/images/ProductImages/@Model.ProductGalleries.First().ImageName" alt="@Model.Product.Title">
            </div>

            <!-- start slider product picture -->
            <div id="mini-pic-slider" class="owl-carousel owl-theme">

                @foreach (var item in Model.ProductGalleries)
                {
                    <div class="mini-pic-slider">
                        <img src="/images/ProductImages/@item.ImageName" alt="@Model.Product.Title" onclick="changeDetailImg(this.src)">
                    </div>
                }

            </div>
        </div>

    </div>

    <div class="col-xs-12 col-lg-7">
        <div class="detail-info box-shadow">
            <div class="product-name">
                <h1>@Model.Product.Title</h1>
            </div>

            <div class="pro-data">

                @{ int rattingScore = (int)Model.Comments.CommentsScore;}

                <div class="ratting-star">
                    <span>(@Model.Comments.AllCommentsCount.NumSplitter() نفر)</span>
                    <span>(@Model.Comments.CommentsScore از 5) </span>
                    <ul>
                        @for (int i = 1; i < 6; i++)
                        {
                            <li class="@( i<= rattingScore?"checked":"")">
                                <i class="far fa-star"></i>
                            </li>
                        }
                    </ul>
                </div>

                <div>
                    <h2><i class="far fa-tags"></i> دسته بندی: </h2>

                        <a asp-controller="Product" asp-action="ProductsOfChildCategory"
                           asp-route-childCategoryId="@Model.ChildCategory.Item1"
                           asp-route-childCategoryName="@Model.ChildCategory.Item2.Replace(" ","-")">@Model.ChildCategory.Item2</a>
                    
                </div>
                <div>
                    <h2><i class="far fa-building"></i> برند: </h2>
                    <a asp-controller="Product" asp-action="ProductsOfBrand"
                       asp-route-brandId="@Model.Product.Brand.Item1"
                       asp-route-brandName="@Model.Product.Brand.Item2.Replace(" ","-")">@Model.Product.Brand.Item2</a>
                </div>
            </div>

            <hr />

            @* change *@

            <div id="changeShopper">
                <div class="color-selector">
                    <h5><i class="far fa-paint-brush-alt"></i> رنگ:</h5>

                    <div class="product-details-option-color">
                        @foreach (var color in Model.Colors)
                        {
                            <label>
                                <input type="radio" name="color" @(color.Item1 == Model.Product.SelectedColor ? "checked" : "")
                                       onclick="UpdateProductDetailShopper('@Model.Product.Title.Replace(" ", "-")','@color.Item4')">
                                <span class="checkmark">
                                    <span class="color" style="background: @color.Item3;"></span>
                                </span>
                            </label>
                        }
                    </div>
                </div>


                <div class="seler-section">

                    <h5><i class="far fa-store"></i> فروشندگان:</h5>

                    <select id="selected-shopper" onchange="UpdateProductDetailShopper('@Model.Product.Title.Replace(" ", "-")',this.value)">
                        @foreach (var item in Model.Shoppers)
                        {
                            @:<option value="@item.Item1" @(item.Item1 == Model.Product.ShopperProductColorId ? "selected" : "")>فروشگاه @item.Item2 - @item.Item3</option>
                        }
                    </select>

                </div>

                <div class="price">


                    <h5><i class="far fa-dollar-sign"></i> قیمت:</h5>
                    @{
                        decimal discountPrice = 0;

                        @if (Model.Product.LastDiscount != null && Model.Product.LastDiscount.Item2 > DateTime.Now)
                        {
                            discountPrice = CartCalculator.CalculatePrice(Model.Product.Price, Convert.ToByte(((Model.Product.LastDiscount.Item2 > DateTime.Now) ? Model.Product.LastDiscount.Item1 : 0)));
                        }
                    }


                    @if (Model.Product.LastDiscount != null && Model.Product.LastDiscount.Item2 > DateTime.Now)
                    {
                        <span class="badge badge-pill badge-info ">@Model.Product.LastDiscount.Item1 ٪ تخفیف</span>

                        <span class="badge badge-pill badge-success text-black">سود شما: @discountPrice.NumSplitter() تومان</span>
                    }

                    <div class="price-amount">
                        <h3>@((Model.Product.Price - discountPrice).NumSplitter()) <span>تومان</span></h3>


                        <form asp-controller="Cart" asp-action="AddToCart" onsubmit="return  AddProductToCart(this)">
                            <input type="hidden" value="@Model.Product.ShopperProductColorId" name="shopperProductColorId" />
                            <button type="submit" class="btn">افزودن به سبد خرید</button>
                        </form>



                    </div>
                </div>
            </div>





            <hr />

            <div class="feature">
                <h5>ویژگی های محصول:</h5>
                <ul>
                    <li>حافظه ۱۲۸ گیگ</li>
                    <li>ios 12</li>
                    <li>صفحه نمایش :۵ اینچ</li>
                    <li>شبکه تلفن:3g/4g</li>
                    <li>دوربین:۲عدد</li>
                    <li>ویژگی</li>
                    <li>ویژگی</li>
                </ul>
            </div>
            <hr>
            <span class="satisfaction">
                <i class="far fa-award"></i> <span>@Model.Comments.SuggestedBuyersCounts خریدار</span> از این محصول رضایت داشتند.
            </span>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="detail-items box-shadow">
            <div class="selector-detail">
                <ul>
                    <li><a href="#accordiong-section">نقد و بررسی</a></li>
                    <li><a href="#information-section">مشخصات</a></li>
                    <li><a href="#comment-section">نظرات</a></li>
                </ul>
            </div>

            <hr />

            <div id="accordiong-section">

                <h5>نقد و بررسی:</h5>
                <p>
                    @Model.Product.Description
                </p>


                <p id="Review-fullpage" class="collapse m-0 p-0" data-parent="#accordiongID">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae doloribus quos inventore nemo obcaecati enim illum. Molestiae nisi dolore magnam veniam, doloremque omnis assumenda minima quia molestias illo. Voluptatum, libero?
                </p>


                <a data-toggle="collapse" data-target="#Review-fullpage">مشاهده ی مطالب</a>
            </div>

            <hr />

            <div class="detail-specifications" id="information-section">

                <h5>مشخصات محصول:</h5>

                <ul>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>

                </ul>
            </div>

            <hr />

            <div class="detail-comments" id="comment-section">
                <h5>امتیاز کاربران:</h5>
                <p class="positive-comment">( این محصول <span>@Model.Comments.SuggestedCommentsCounts بازخورد مثبت</span> داشته است. )</p>
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">میزان رضایت مندی از محصول</span>
                        <span class="percent-num">( @Model.Comments.ProductSatisfaction% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.Comments.ProductSatisfaction" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Comments.ProductSatisfaction%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">امکانات و قابلیت ها</span>
                        <span class="percent-num">( @Model.Comments.FeaturesAndCapabilities% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.Comments.FeaturesAndCapabilities" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Comments.FeaturesAndCapabilities%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">کیفیت ساخت</span>
                        <span class="percent-num">( @Model.Comments.ConstructionQuality% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.Comments.ConstructionQuality" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Comments.ConstructionQuality%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">طراحی و ظاهر</span>
                        <span class="percent-num">( @Model.Comments.DesignAndAppearance% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Model.Comments.DesignAndAppearance" aria-valuemin="0" aria-valuemax="100" style="width: @Model.Comments.DesignAndAppearance%"></div>
                        </div>
                    </div>
                </div>

                <hr />
                <h5 style="margin-bottom: 5px;">نظر کاربران:</h5>

                <button class="new-comment" type="button" data-toggle="collapse" data-target="#newComment" aria-expanded="false" aria-controls="newComment">
                    بازخورد جدید
                </button>

                <div class="collapse mt-5 mb-3" id="newComment">
                    @await Html.PartialAsync("Comment/_NewComment", new NewCommentViewModel()
                    {
                   ProductId = Model.Product.ProductId
                    })
                </div>

                <div id="tableComments">

                    @await Component.InvokeAsync("ProductCommentsComponent", new { productId = Model.Product.ProductId })


                </div>
            </div>

            <hr />

            <div class="detail-questions">
                <h5>پرسش و پاسخ:</h5>
                <button class="new-question" type="button" data-toggle="collapse" data-target="#newQuestion" aria-expanded="false" aria-controls="newQuestion">
                    سوال جدید
                </button>

                <div class="collapse mt-5 mb-3" id="newQuestion">
                    @await Html.PartialAsync("Question/_NewQuestion", new AddQuestionViewModel()
                    {
                        ProductId = Model.Product.ProductId
                    })
                </div>

                <div id="tableQuestions">
                    @await Component.InvokeAsync("ProductQuestionsComponent", new { productId = Model.Product.ProductId })
                </div>
            </div>

        </div>
    </div>
</div>


@section AfterMainOptions
{
    <partial name="_Modal" />
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/select.js"></script>
    <script>
        $("#mini-pic-slider").owlCarousel({
            rtl: true,
            loop: false,
            nav: false,
            dots: false,
            autoWidth: true,
            stagePadding: 0,
        });
    </script>
}