@model AddShopperProductViewModel
@{
    Layout = null;
}
<link href="~/css/select.css" rel="stylesheet" />

<form asp-action="AddShopperProduct" method="post" onsubmit="return SubmitFormData(this,true)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


    <input type="hidden" asp-for="ShopperId" />

    <h3 class="title-header">انتخاب کالا</h3>
    <div class="row">
        <div class="col-sm-12 col-lg-6">

            @{
                IEnumerable<Tuple<int, string>> storeTitles = ViewBag.StoreTitles as IEnumerable<Tuple<int, string>>;
                IEnumerable<Tuple<int, string>> brands = ViewBag.Brands as IEnumerable<Tuple<int, string>>;
                IEnumerable<Tuple<int, string>> officialProducts = ViewBag.OfficialProducts as IEnumerable<Tuple<int, string>>;
                IEnumerable<Tuple<int, string>> products = ViewBag.Products as IEnumerable<Tuple<int, string>>;
            }



            <select onchange="GetBrandsOfStoreTitle(this.value)" asp-for="SelectedStoreTitle">
                <option value="">عنوان کالا</option>

                @if (storeTitles != null)
                {
                    @foreach (var item in storeTitles)
                    {
                        @:<option value="@item.Item1" @(Model.SelectedStoreTitle != 0 && Model.SelectedStoreTitle == item.Item1 ? "selected" : "")>@item.Item2</option>
                    }
                }
            </select>
        </div>


        @* this is for brand *@
        <div class="col-sm-12 col-lg-6">
            <select id="brand" onchange="GetOfficialProductsOfBrand(this.value)" asp-for="SelectedBrand">
                @if (brands != null)
                {
                    <option value=""> لطفا برند را انتخاب کنید</option>
                    @foreach (var item in brands)
                    {
                        @:<option value="@item.Item1" @(Model.SelectedBrand != 0 && Model.SelectedBrand == item.Item1 ? "selected" : "")>@item.Item2</option>
                    }
                }
                else
                {
                    <option value="">لطفا عنوان کالا را انتخاب کنید</option>

                }
            </select>
        </div>

        @* this is for official product *@
        <div class="col-sm-12 col-lg-6">
            <select id="officialProduct" onchange="GetProductsOfOfficialProduct(this.value)" asp-for="SelectedOfficialProduct">
                @if (officialProducts != null)
                {
                    <option value="">لطفا نام اختصاصی کالا را انتخاب کنید</option>
                    @foreach (var item in officialProducts)
                    {
                        @:<option value="@item.Item1" @(Model.SelectedOfficialProduct != 0 && Model.SelectedOfficialProduct == item.Item1 ? "selected" : "")>@item.Item2</option>
                    }
                }
                else
                {
                    <option value="">لطفا برند را انتخاب کنید</option>
                }
            </select>
        </div>

        @* this is for product *@
        <div class="col-sm-12 col-lg-6">
            <select id="product" asp-for="ProductId">
                @if (products != null)
                {
                    <option value="">لطفا کالا را انتخاب کنید</option>
                    @foreach (var item in products)
                    {
                        @:<option value="@item.Item1" @(Model.ProductId != 0 && Model.ProductId == item.Item1 ? "selected" : "")>@item.Item2</option>
                    }
                }
                else
                {
                    <option value="">لطفا نام اختصاصی کالا را انتخاب کنید</option>
                }
            </select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
    </div>


    <h3 class="title-header">کالای فروشنده</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-field">
                <input asp-for="Warranty">
                <label><i class="far fa-phone"></i> گارانتی</label>
                <span asp-validation-for="Warranty" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-check">
                <label>
                    این کالا فعال است
                    <input type="checkbox" asp-for="IsActive">
                    <span></span>
                </label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">ثبت</button>
</form>



<script src="~/js/select.js"></script>
<script>
    inputJs();
</script>