@model ShopperProductRequestForShowShopperViewModel
@{
    Layout = null;
}

<div class="general-data">

    <div>
        <h3>درخواست دهنده: </h3>
        <span>
            @Model.UserFullName
        </span>
    </div>


    <div>
        <h3>کالا: </h3>
        <span>
            <a asp-area="ManagerPanel" asp-controller="ProductManager"
               asp-action="ProductDetail" asp-route-productId="@Model.ProductId">@Model.ProductName</a>
        </span>
    </div>

    <div>
        <h3>نوع درخواست: </h3>
        <span>
            @Model.RequestType.BoolToText("افزودن", "ویرایش")
        </span>
    </div>

    <div>
        <h3>گارانتی: </h3>
        <span>
            @Model.Warranty
        </span>
    </div>

    <div>
        <h3>تاریخ: </h3>
        <span>
            @Model.RequestDate.Date.ToShamsiDateTime()
        </span>
    </div>

    <div>
        <h3>وضعیت: </h3>
        <span>
            @(!Model.IsRead ? "درحال بررسی" : Model.IsSuccess.BoolToText("تایید شده", "تایید نشده"))
        </span>
    </div>

    <div>
        <h3>توضیحات: </h3>
        <span>
            @Model.Description
        </span>
    </div>
</div>