@model AddOrEditRoleViewModel

@{
    Layout = null;
}


<form asp-action="AddOrEditRole" method="post" onsubmit="return SubmitFormData(this)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <input type="hidden" asp-for="RoleId" />

            <div class="form-field">
                <input asp-for="RoleTitle">
                <label><i class="far fa-list-alt"></i> نام مقام</label>
                <span asp-validation-for="RoleTitle" class="text-danger"></span>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-success">ثبت</button>
            </div>

        </div>

        <div class="col-sm-12 col-md-6">
            <h4 class="text-center">دسترسی های نقش</h4>

            <ul style="list-style: none">
                @foreach (var permission in Model.Permissions.Where(c => c.ParentId == null))
                {
                    <li>
                        <div class="form-check m-0">
                            <label>
                                @permission.PermissionTitle
                                <input type="checkbox" name="SelectedPermissions"
                                       value="@permission.PermissionId" @(Model.RoleId != "" && Model.SelectedPermissions.Any(c => c == permission.PermissionId) ? "checked" : "") />
                                <span></span>
                            </label>
                        </div>
                        @if (Model.Permissions.Any(c => c.ParentId == permission.ParentId))
                        {
                            <ul style="list-style: none">
                                @foreach (var sub in Model.Permissions.Where(c => c.ParentId == permission.PermissionId))
                                {
                                    <li>
                                        <div class="form-check m-0">
                                            <label>
                                                @sub.PermissionTitle
                                                <input type="checkbox" name="SelectedPermissions"
                                                       value="@sub.PermissionId" @(Model.RoleId != "" && Model.SelectedPermissions.Any(c => c == sub.PermissionId) ? "checked" : "")/>
                                                <span></span>
                                            </label>
                                        </div>

                                        @if (Model.Permissions.Any(c => c.ParentId == sub.ParentId))
                                        {
                                            <ul style="list-style: none">
                                                @foreach (var sub2 in Model.Permissions.Where(c => c.ParentId == sub.PermissionId))
                                                {
                                                    <li>
                                                        <div class="form-check m-0">
                                                            <label>
                                                                @sub2.PermissionTitle
                                                                <input type="checkbox" name="SelectedPermissions"
                                                                       value="@sub2.PermissionId" @(Model.RoleId != "" && Model.SelectedPermissions.Any(c => c == sub2.PermissionId) ? "checked" : "")/>
                                                                <span></span>
                                                            </label>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    </li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</form>

<script src="~/js/Input.js"></script>