@model Tuple<IEnumerable<ProductDataForAdmin>, int, int>


<input type="hidden" name="pageId" id="pageId" value="@Model.Item2" />

@if (Model.Item1.Any())
{
    <div class="filter">
        <input type="text" placeholder="دنبال کالا بگرد..." class="filter-input" id="filter">
        <select select-search="true" id="type" onchange="changeList()">
            <option value="all" selected>همه</option>
            <option value="mobile">موبایل</option>
            <option value="laptop">لپتاپ</option>
        </select>
    </div>


    <table class="table responsive table-hover table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">نام کالا</th>
                <th scope="col">برند</th>
                <th scope="col">نام رسمی</th>
                <th scope="col">دستورات</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.Item1)
            {
                <tr>
                    <td>@item.ProductTitle</td>
                    <td>@item.BrandName</td>
                    <td>@item.OfficialName</td>
                    <td>
                        <a asp-action="EditProduct" asp-route-productId="@item.ProductId"
                           class="btn btn-warning text-white">
                            ویرایش
                        </a>
                        <a asp-action="ProductDetail" asp-route-productId="@item.ProductId"
                           class="btn btn-info text-white">
                            جزئیات
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @if (Model.Item3 > 1)
    {
        <ul class="pagination-custom">
            <li class="@(Model.Item2<=1?"disabled":"")">
                <a onclick="pagination('@(Model.Item2 - 1)')" href="#">
                    <i class="far fa-angle-right"></i>
                </a>
            </li>
            @for (var i = 1; i <= Model.Item3; i++)
            {
                <li class="@(Model.Item2 == i? "active":"")">
                    <a onclick="pagination('@i')" href="#">
                        @i
                    </a>
                </li>
            }

            <li class="@(Model.Item2 +1 > Model.Item3?"disabled":"")">
                <a onclick="pagination('@(Model.Item2+1)')" href="#">
                    <i class="far fa-angle-left"></i>
                </a>
            </li>
        </ul>
    }
}
else
{
    <div class="alert alert-warning">
        کالایی یاف نشد
    </div>
}

<script>
    function pagination(pageId) {
        $('#pageId').val(pageId);
        changeList();
    }

    function changeList() {
        let pageId = $('#pageId').val();
        let type = $('#type').val();
        let filter = $('#filter').val();



        $.ajax({
            type: 'GET',
            url: '/ManagerPanel/ProductManager/ProductsList/?type=' + type + '&pageId=' + pageId + '&filter=' + filter,
            processData: false,
            contentType: false
        }).done(function (res) {
            console.log(res);
            $("#tableList").html(res);
        });
    }

</script>