@model Tuple<IEnumerable<ProductCommentsForShow>, int, int>
@{
    Layout = null;
}
<section class="comment-filter">

    <input hidden value="@Model.Item2" id="pageId" />
    <input hidden id="type" value="@ViewBag.SelectedType.ToString()" />

    @switch (ViewBag.SelectedType.ToString())
    {
        case "news":
            {
                <div class="item">
                    <input type="radio" name="filterComment" value="news" id="news-radio" checked onclick="changeType(this.value)">
                    <label for="news-radio">جدید ترین ها</label>
                </div>
                <div class="item">
                    <input type="radio" name="filterComment" value="buyers" id="buyers-radio" onclick="changeType(this.value)">
                    <label for="buyers-radio">خریداران</label>
                </div>
                <div class="item">
                    <input type="radio" name="filterComment" value="best" id="best-radio" onclick="changeType(this.value)">
                    <label for="best-radio">مفید ترین</label>
                </div>
                break;
            }
        case "buyers":
            {
                <div class="item">
                    <input type="radio" name="filterComment" value="news" id="news-radio" onclick="changeType(this.value)">
                    <label for="news-radio">جدید ترین ها</label>
                </div>
                <div class="item">
                    <input type="radio" name="filterComment" value="buyers" id="buyers-radio" checked onclick="changeType(this.value)">
                    <label for="buyers-radio">خریداران</label>
                </div>
                <div class="item">
                    <input type="radio" name="filterComment" value="best" id="best-radio" onclick="changeType(this.value)">
                    <label for="best-radio">مفید ترین</label>
                </div>

                break;
            }
        case "best":
            {
                <div class="item">
                    <input type="radio" name="filterComment" value="news" id="news-radio" onclick="changeType(this.value)">
                    <label for="news-radio">جدید ترین ها</label>
                </div>
                <div class="item">
                    <input type="radio" name="filterComment" value="buyers" id="buyers-radio" onclick="changeType(this.value)">
                    <label for="buyers-radio">خریداران</label>
                </div>
                <div class="item">
                    <input type="radio" name="filterComment" value="best" id="best-radio" checked onclick="changeType(this.value)">
                    <label for="best-radio">مفید ترین</label>
                </div>
                break;
            }
    }

</section>

<div class="row mt-4">
    @{
        var userFeedBacks = ViewBag.UserFeedBacks as List<Tuple<int, bool>>;
        var reportedComments = ViewBag.ReportedComments as List<int>;
    }




    @if (!Model.Item1.Any())
    {
        <div class="alert alert-warning text-muted m-0">
            دیدگاهی یافت نشد ...
        </div>
    }
    else
    {
        @foreach (var item in Model.Item1)
        {
            <div class="col-sm-12">
                <div class="comment-area">

                    <div class="ur-cm-img">
                        <img src="~/images/UserImages/@item.Image" alt="@item.FullName" />
                    </div>

                    <div class="comment-header">
                        <h4>@item.FullName</h4>
                        <span>ارسال شده در تاریخ @item.CommentDate.ToShamsiDate()</span>
                        @if (!string.IsNullOrEmpty(item.StoreName))
                        {
                            <span class="badge badge-light">خریدار</span>
                        }
                        @{
                            string reportBtn = "report-btn" + item.CommentId;
                        }

                        @if (reportedComments.Any(c => c == item.CommentId))
                        {
                            <form id="@reportBtn" asp-action="RemoveCommentFromReport" onsubmit="return RemoveReportComment(this)">
                                <input type="hidden" name="commentId" value="@item.CommentId" />
                                <button type="submit" class="badge">گزارش شده</button>
                            </form>
                        }
                        else
                        {
                            <a id="@reportBtn" onclick="ShowModal('@Url.Action("ReportComment", "Comment" ,new {commentId = item.CommentId}, Context.Request.Scheme)', 'گزارش بازخورد')" class="badge">گزارش</a>
                        }

                    </div>
                    <div class="comment-text">
                        <h4>@item.CommentTitle</h4>
                        <p>
                            @item.CommentText
                        </p>
                    </div>

                    <div class="comment-footer" style="direction: @((!string.IsNullOrEmpty(item.StoreName)) ? "rtl" : "ltr")">

                        @if (!string.IsNullOrEmpty(item.StoreName))
                        {
                            <a asp-controller="Product" asp-action="ShortKeyRedirect" asp-route-key="@item.ProductShortKey"
                               class="comment-store">
                                <span><i class="far fa-store"></i> @item.StoreName</span>
                                <span> - </span>
                                <span>@item.ColorName</span>
                            </a>
                        }

                        <div class="d-flex align-items-center flex-row">
                            @{
                                string likeBtn = "like-btn" + item.CommentId;
                                string disLikeBtn = "dislike-btn" + item.CommentId;
                            }

                            @if (userFeedBacks.Any(c => c.Item1 == item.CommentId && c.Item2 == false))
                            {
                                <form asp-controller="Comment" asp-action="LikeOrDisLikeComment" asp-route-type="dislike" onsubmit="return LikeOrDisLikeComment(this)">
                                    <input type="hidden" name="commentId" value="@item.CommentId" />
                                    <button id="@disLikeBtn" type="submit" class="comment-feed-backs dislike active">
                                        <span>@item.FeedBacks.Count(c => c == false)</span>
                                        <i class="fal fa-thumbs-down"></i>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Comment" asp-action="LikeOrDisLikeComment" asp-route-type="dislike" onsubmit="return LikeOrDisLikeComment(this)">
                                    <input type="hidden" name="commentId" value="@item.CommentId" />
                                    <button id="@disLikeBtn" type="submit" class="comment-feed-backs dislike">
                                        <span>@item.FeedBacks.Count(c => c == false)</span>
                                        <i class="fal fa-thumbs-down"></i>
                                    </button>
                                </form>
                            }

                            @if (userFeedBacks.Any(c => c.Item1 == item.CommentId && c.Item2))
                            {
                                <form asp-controller="Comment" asp-action="LikeOrDisLikeComment" asp-route-type="like" onsubmit="return LikeOrDisLikeComment(this)">
                                    <input type="hidden" name="commentId" value="@item.CommentId" />
                                    <button id="@likeBtn" type="submit" class="comment-feed-backs like active">
                                        <span>@item.FeedBacks.Count(c => c == true)</span>
                                        <i class="fal fa-thumbs-up"></i>
                                    </button>
                                </form>
                            }
                            else
                            {
                                <form asp-controller="Comment" asp-action="LikeOrDisLikeComment" asp-route-type="like" onsubmit="return LikeOrDisLikeComment(this)">
                                    <input type="hidden" name="commentId" value="@item.CommentId" />
                                    <button id="@likeBtn" type="submit" class="comment-feed-backs like">
                                        <span>@item.FeedBacks.Count(c => c == true)</span>
                                        <i class="fal fa-thumbs-up"></i>
                                    </button>
                                </form>
                            }




                        </div>

                    </div>
                </div>
            </div>
        }






    }

</div>

@if (Model.Item3 > 1)
{
    <ul class="pagination-custom">
        <li class="@(Model.Item2<=1?"disabled":"")" onclick="pagination('@(Model.Item2 - 1)')">
            <i class="far fa-angle-right"></i>
        </li>

        @for (var i = 1; i <= Model.Item3; i++)
        {
            <li class="@(Model.Item2 == i? "active":"")" onclick="pagination('@i')">
                @i
            </li>
        }

        <li class="@(Model.Item2 +1 > Model.Item3?"disabled":"")" onclick="pagination('@(Model.Item2+1)')">
            <i class="far fa-angle-left"></i>
        </li>

    </ul>
}

<script>
    function pagination(pageId) {
        $('#pageId').val(pageId);
        changeList();
    }

    function changeType(inputValue) {
        $('#type').val(inputValue);
        changeList();
    }

    function changeList() {
        let pageId = $('#pageId').val();
        let type = $('#type').val();


        $.ajax({
            type: 'GET',
                url: '/Comment/ProductCommentsList?productId=@ViewBag.ProductId.ToString()&pageId=' + pageId + '&type='+ type,
            }).done(function (res) {


                $("#tableComments").html(res);
            });
        }

</script>
