@model IEnumerable<ImageForShowViewModel>
@{
    ViewData["Title"] = "مدیریت بنر ها";
}
@section RightMenu
{
    @{
    await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.BannerPage);
 }
}
@section Css{
<link href="~/css/select.css" rel="stylesheet" />
}

<div class="display-6 text-center">
    مدیریت بنر ها
</div>

<a onclick="ShowModal('@Url.Action("AddImage", "ImageManager" ,null, Context.Request.Scheme)', 'افزودن بنر')"
   class="btn btn-success text-white"><i class="far fa-home"></i> بنر جدید</a>


@if (Model != null)
{
    <h3 class="title">تصاویر منو اسلایدر</h3>
    <section class="images-part">
        @foreach (var item in Model.Where(c=> c.PlaceName == ImageConstants.Slider))
        {
            <div class="item">
                <img src="~/images/banner/@item.ImageName" />
                <div class="menu">
                    <a href="@item.Url">مشاهده لینک</a>

                    <div>
                        <a onclick="ShowModal('@Url.Action("EditImage", "ImageManager" ,new {imageId = @item.ImageId}, Context.Request.Scheme)', 'ویرایش بنر')"
                           class="btn btn-warning text-white m-0">ویرایش</a>

                        <form asp-controller="ImageManager" asp-action="DeleteImage" asp-route-imageId="@item.ImageId" method="post">
                            <button type="submit" class="btn btn-danger text-white">حذف تصویر</button>
                        </form>
                    </div>

                </div>
            </div>
        }
    </section>

    <h3 class="title">تصاویر میانی</h3>
    <section class="images-part">
        @foreach (var item in Model.Where(c=> c.PlaceName == ImageConstants.MainMenu))
        {
            <div class="item">
                <img src="~/images/banner/@item.ImageName" />
                <div class="menu">
                    <a href="@item.Url">مشاهده لینک</a>

                    <div>
                        <a asp-action="EditImage" asp-route-imageId="@item.ImageId"
                           class="btn btn-warning text-white m-0">ویرایش</a>

                        <form asp-controller="ImageManager" asp-action="DeleteImage" asp-route-imageId="@item.ImageId" method="post">
                            <button type="submit" class="btn btn-danger text-white">حذف تصویر</button>
                        </form>
                    </div>

                </div>
            </div>
        }
    </section>
}
else
{
    <div class="alert alert-warning">
        تصویری یافت نشد.
    </div>
}

@section AfterMainOptions
{
<partial name="_Modal" />
}

@section Scripts{
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
<script src="~/js/select.js"></script>
}