@model IEnumerable<UserInformationViewModel>

@{
    ViewData["Title"] = "مدیریت کاربران";
    int rowCount = 1;
}
@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.UserPage); }
}


<a onclick="ShowModal('@Url.Action("AddOrEditUser", "UserManager",null, Context.Request.Scheme)', 'افزودن کاربر')"
   class="btn btn-success text-white"><i class="fal fa-user-plus"></i> کاربر جدید</a>

<div class="table-responsive">
    <table class="table responsive table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">نام و نام خانوادگی</th>
                <th scope="col">شماره تلفن</th>
                <th scope="col">دستورات</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@rowCount</td>
                    <td>@item.FullName</td>
                    <td>@item.PhoneNumber</td>
                    <td>
                        <a onclick="ShowModal('@Url.Action("AddOrEditUser", "UserManager",new {userId = item.UserId}, Context.Request.Scheme)', 'ویرایش کاربر')"
                           class="btn btn-warning text-white"><i class="fal fa-user-edit"></i> ویرایش</a>
                        <a asp-action="UserDetail" asp-route-userId="@item.UserId" class="btn btn-info text-white"><i class="fal fa-file-user"></i> جزئیات</a>
                        <form asp-action="RemoveUser" asp-route-userId="@item.UserId" method="post" class="d-inline">
                            <button type="submit" class="btn btn-danger text-white me-2"><i class="fal fa-user-minus"></i> حذف</button>
                        </form>

                    </td>
                </tr>


                rowCount++;
            }
        </tbody>
    </table>
</div>

@section AfterMainOptions
{
    <partial name="_Modal" />
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
