@model Reshop.Domain.Entities.User.User

@{
    ViewData["Title"] = "UserDetail";
}

<h1>UserDetail</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAvatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAvatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InviteCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InviteCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InviteCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InviteCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NationalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NationalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisteredDate.ToShamsiDateTime())
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPhoneNumberActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPhoneNumberActive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
