@model UserDetailViewModel

@{
    ViewData["Title"] = $"جزئیات کاربر {Model.FullName}";
}
@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.UserPage); }
}

<section class="general-detail mb-3">
    <div class="row">
        <!-- img part -->
        <div class="col-sm-12 col-md-4 mb-3 mb-md-0">
            <div class="box-shadow">
                <div class="show-img-box">
                    <img src="/images/UserImages/@Model.UserImage" alt="@Model.FullName">
                </div>
            </div>
        </div>

        <!-- product data part -->
        <div class="col-sm-12 col-md-8">
            <div class="general-data box-shadow">
                <span class="part-title">اطلاعات کلی</span>
                <div>
                    <h3><i class="far fa-tags"></i> نام و نام خانوادگی کاربر: </h3>
                    <span>@Model.FullName</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> شماره تلفن: </h3>
                    <span>@Model.PhoneNumber</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> تاریخ تولد: </h3>
                    <span>@Model.RegisterDate.ToShamsiDate()</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> کد ملی: </h3>
                    <span>@Model.NationalCode</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> ایمیل: </h3>
                    <span>@Model.Email</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> تعداد سفارش ها: </h3>
                    <span>@Model.OrdersCount.NumSplitter()</span>
                </div>
                @if (!string.IsNullOrEmpty(Model.ShopperId))
                {
                    <div>
                        <h3><i class="far fa-tags"></i> فروشنده: </h3>
                        <span>
                            <a asp-controller="ShoppersManager" asp-action="ShopperDetail" asp-route-shopperId="@Model.ShopperId">
                                مدیریت فروشنده
                            </a>
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<a onclick="ShowModal('@Url.Action("AddOrEditUser", "UserManager" ,new {userId = Model.UserId}, Context.Request.Scheme)', 'ویرایش کاربر')"
   class="btn btn-warning text-white"><i class="fal fa-user-plus"></i> ویرایش کاربر</a>

@if (string.IsNullOrEmpty(Model.ShopperId))
{
    <a asp-action="AddToShopper" asp-route-userId="@Model.UserId"
       class="btn btn-success text-white"><i class="fal fa-user-plus"></i> افزودن کاربر به فروشنده</a>
}

<a class="btn btn-success text-white"
   onclick="ShowModal('@Url.Action("NewAddress", "UserManager", new{userId = Model.UserId}, Context.Request.Scheme)', 'آدرس جدید')">
    افزودن ادرس  جدید
</a>
@* address part *@
<section class="addresses">

    @if (!Model.Addresses.Any())
    {
        <div class="alert alert-warning">
            آدرسی از کاربر یافت نشد.
        </div>
    }
    else
    {
        @foreach (var item in Model.Addresses)
        {
            <div class="address">
                <div class="header">

                    <div class="items">
                        <a onclick="ShowModal('@Url.Action("EditAddress", "UserManager", new {addressId = item.AddressId}, Context.Request.Scheme)', 'ویرایش آدرس')"><i class="far fa-edit"></i></a>
                        <form asp-action="DeleteAddress" asp-route-addressId="@item.AddressId" method="post" onsubmit="return  SubmitFormData(this,false)">
                            <button type="submit">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <div class="personal">
                    <p>@item.FullName</p>
                    <p>@item.PhoneNumber</p>
                </div>

                <p class="address-text">
                    @item.StateName - @item.CityName @item.AddressText - پلاک: @item.Plaque
                </p>

                <div class="postal-code">

                    <span><i class="fal fa-envelope"></i> کد پستی:</span>
                    <span>@item.PostalCode</span>


                </div>
            </div>
        }
    }



</section>


<section class="table-list" id="tableList">
    @await Component.InvokeAsync("UserOrdersComponent", new { userId = Model.UserId })
</section>


<section class="table-list" id="tableRole">
    @await Component.InvokeAsync("UserRolesComponent", new { userId = Model.UserId })
</section>

<section class="table-list" id="favoriteProductsList">
    @await Component.InvokeAsync("UserFavoriteProductsComponent", new { userId = Model.UserId })
</section>


@section AfterMainOptions
{
    <partial name="_Modal" />
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}