@model IAsyncEnumerable<Address>
@inject IRoleService RoleService;
@{
    ViewData["Title"] = "UserAddresses";

    int addressCounter = 1;
}


<div class="row">

    <div class="col-sm-12 col-md-4 col-lg-3">

        <div class="profile-menu box-shadow">
            <div class="user-img d-flex justify-content-center flex-column align-self-center">
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit">  <i class="far fa-power-off"></i></button>
                </form>

                <img src="/images/UserImages/@User.FindFirstValue(ClaimTypes.Actor)">

                <p class="text-center">@User.FindFirstValue(ClaimTypes.Name)</p>
            </div>

            <div class="items">
                <a asp-action="Dashboard" class="active"><i class="far fa-user"></i> اطلاعات حساب</a>
                <a asp-action="PayedOrders"><i class="far fa-calendar-week"></i> سفارش های من</a>
                <a asp-action="FavoriteProducts"><i class="far fa-heart"></i> علاقه مندی ها</a>
                <a asp-action="Questions"><i class="far fa-comments-alt"></i> سوالات و نظرات</a>
                @if (RoleService.PermissionChecker(User.FindFirstValue(ClaimTypes.NameIdentifier), "Shopper,FullManager"))
                {
                    <a asp-action="ManageProducts"><i class="far fa-comments-alt"></i>مدیریت محصولات</a>
                }
                @if (RoleService.PermissionChecker(User.FindFirstValue(ClaimTypes.NameIdentifier), "FullManager"))
                {
                    <a asp-action="UserComments"><i class="far fa-comments-alt"></i>ورود به پنل مدیریت</a>
                }
            </div>
        </div>

    </div>


    <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row">
            <div class="col-12">
                <div class="profile-nav box-shadow">
                    <ul>
                        <li><a asp-action="Dashboard">اطلاعات شخصی</a> </li>
                        <li class="active"><a asp-action="Address">آدرس</a> </li>
                        @if (RoleService.PermissionChecker(User.FindFirstValue(ClaimTypes.NameIdentifier), "Shopper,FullManager"))
                        {
                            <li><a asp-action="Address">اطلاعات مغازه</a> </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="user-data box-shadow">



                    @if (Model == null)
                    {
                        <div class="basket-empty">
                            <img src="/icons/Address.svg" alt="Address" />
                            <h1>ادرسی یافت نشد!</h1>
                        </div>
                    }

                    else
                    {
                        <a class="btn btn-success text-white"
                           onclick="ShowModal('@Url.Action("NewAddress", "AccountManager", null, Context.Request.Scheme)','آدرس جدید')">
                            افزودن ادرس  جدید
                        </a>

                        <div class="row">
                            @await foreach (var address in Model)
                            {
                                <div class="col-sm-12">
                                    <div class="user-item-data">
                                        <div>
                                            <h5>ادرس شماره @addressCounter</h5>
                                            <span>
                                                <a style="margin-left: 10px;"> <i class="far fa-map-marker-check"></i></a>
                                                <a onclick="ShowModal('@Url.Action("EditAddress", "AccountManager", new {addressId =address.AddressId}, Context.Request.Scheme)','ویرایش آدرس')"><i class="far fa-edit"></i></a>
                                            </span>
                                        </div>

                                        <p>@address.AddressText</p>
                                    </div>
                                </div>
                            }
                        </div>
                    }

                </div>
            </div>


        </div>
    </div>
</div>

@section AfterMainOptions
{
    <partial name="_Modal" />
}

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}