@model IEnumerable<AddressForShowViewModel>
@{
    ViewData["Title"] = "نشانی سفارش";
}

@section Css{
    <link href="~/css/select.css" rel="stylesheet" />
}

<ul class="breadcrumb">
    <li>
        <a href="/">ریشاپ</a>
    </li>
    <li>
        <a asp-controller="Cart" asp-action="ShowCart">سبد خرید</a>
    </li>
    <li>
        <a asp-controller="Cart" asp-action="Address">انتخاب آدرس</a>
    </li>
</ul>

<div class="shopping-page">
    <div class="level">
        <div class="active">
            <a href="#">
                <img src="https://www.banimode.com/themes/new/assets/images/shipping-lev-1.svg" alt="" srcset=""> سبد خرید
            </a>
        </div>
        <div>
            <a href="#">
                <img src="https://www.banimode.com/themes/new/assets/images/shipping-lev-1.svg" alt="" srcset=""> سبد خرید
            </a>
        </div>
        <div>
            <a href="#">
                <img src="https://www.banimode.com/themes/new/assets/images/shipping-lev-1.svg" alt="" srcset=""> سبد خرید
            </a>
        </div>
    </div>

    <section class="shopping-title">
        <h3>نشانی سفارش</h3>
        <a onclick="ShowModal('@Url.Action("NewAddress", "Account", null, Context.Request.Scheme)', 'آدرس جدید')">ثبت نشانی جدید</a>
    </section>

    <section class="addresses">


        @if (!Model.Any())
        {
            <div class="alert alert-warning">
                کاربر عزیز شما ادرسی ثبت نکرده اید.
            </div>
        }
        else
        {

            <div class="owl-carousel owl-theme">
                @foreach (var item in Model)
                {
                    <div class="address">
                        <div class="header">
                            <label>
                                به این آدرس ارسال شود
                                <input type="radio" value="@item.AddressId" name="selectAddress" onclick="changeAddress(this.value)">
                                <span class="checkmark"></span>
                            </label>


                            <div class="items">
                                <a onclick="ShowModal('@Url.Action("EditAddress", "Account", new {addressId = item.AddressId}, Context.Request.Scheme)', 'ویرایش آدرس')">
                                    <i class="far fa-edit"></i>
                                </a>

                                <form asp-controller="Account" asp-action="DeleteAddress" asp-route-addressId="@item.AddressId" method="post" onsubmit="return SubmitFormData(this,false)">
                                    <button type="submit">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </div>
                        </div>

                        <div class="personal">
                            <p>@item.FullName</p>
                            <p>@item.PhoneNumber</p>
                        </div>

                        <p class="address-text">
                            @item.StateName - @item.CityName @item.AddressText - پلاک: @item.Plaque
                        </p>

                        <div class="postal-code">

                            <span><i class="fal fa-envelope"></i> کد پستی:</span>
                            <span>@item.PostalCode</span>


                        </div>
                    </div>
                }
            </div>
        }



    </section>

    <form asp-controller="Cart" asp-action="Address" method="post" onsubmit="return SubmitFormData(this, false)">
        <input type="hidden" name="addressId" id="addressId" />
        <button type="submit" class="btn btn-next">
            پرداخت
        </button>
    </form>
</div>



@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
  
        function changeAddress(addressId) {
            document.getElementById('addressId').value = addressId;
        }


    </script>
    <script src="~/js/select.js"></script>

}


@section AfterMainOptions
{
    <partial name="_Modal" />
}