@model IEnumerable<ProductViewModel>

@foreach (var item in Model)
{
    <div class="product-item box-shadow">
                <div class="product-img">
                    <a asp-controller="Product" asp-action="ProductDetail"
                       asp-route-productName="@item.ProductTitle.Replace(" ", "-")"
                       asp-route-sellerId="@item.ShopperProductColorId">
                        <img src="/images/ProductImages/@item.Image" alt="@item.ProductTitle" class="img-fluid">
                    </a>

                    <ul class="img-action-button">
                        <li>
                            <form asp-controller="Product" asp-action="AddToFavoriteProduct" onsubmit="return  AddProductToFavorites(this)">

                                <input type="hidden" value="@item.ShopperProductColorId" name="shopperProductColorId" />
                                <button type="submit"><i class="fal fa-heart"></i></button>
                            </form>


                        </li>
                        <li>
                            <a href="#" title="مقایسه"><i class="fal fa-sync-alt"></i></a>
                        </li>
                        <li>
                            <form asp-controller="Cart" asp-action="AddToCart" onsubmit="return  AddProductToCart(this)">
                                <input type="hidden" value="@Html.Encode(item.ShopperProductColorId)" name="shopperProductColorId" />
                                <button type="submit" class="btn btn-warning"><i class="fal fa-cart-plus"></i></button>
                            </form>
                        </li>
                    </ul>
                    
                    @{
                        decimal discountPrice = 0;

                        @if (item.LastDiscount != null && item.LastDiscount.Item2 > DateTime.Now)
                        {
                            discountPrice =  CartCalculator.CalculatePrice(item.ProductPrice, Convert.ToByte(((item.LastDiscount.Item2 > DateTime.Now) ? item.LastDiscount.Item1 : 0)));
                        }
                    }


                    @if (item.LastDiscount != null && item.LastDiscount.Item2 > DateTime.Now)
                    {
                        <div class="discount">
                            <span>@item.LastDiscount.Item1%</span>

                            <span>@discountPrice.NumSplitter()</span>
                        </div>
                    }

                </div>
                <div class="product-info">

                    <a asp-controller="Product" asp-action="ProductDetail"
                       asp-route-productName="@item.ProductTitle.Replace(" ", "-")"
                       asp-route-sellerId="@item.ShopperProductColorId">
                        @item.ProductTitle
                    </a>

                    <h5 class="pro-price">@((item.ProductPrice - discountPrice).NumSplitter()) <span class="toman">تومان</span></h5>
                </div>
            </div>
}