@model Tuple<IEnumerable<ProductViewModel>,string>

@foreach (var item in Model.Item1)
{
    <div class="product-item box-shadow">
        <div class="product-img">
            <a asp-controller="Product" asp-action="ProductDetail"
           asp-route-productName="@item.ProductTitle.Replace(" ","-")"
           asp-route-sellerId="@item.ShopperProductColorId">
                <img src="/images/ProductImages/@item.Image" alt="@item.ProductTitle" class="img-fluid">
            </a>

            <ul class="img-action-button">
                <li>
                    <form asp-area="ManagerPanel" asp-controller="UserManager" asp-action="DeleteFavoriteProduct" onsubmit="return  SubmitFormData(this)">
                        <input type="hidden" value="@Model.Item2" name="userId" />
                        <input type="hidden" value="@item.ShopperProductColorId" name="shopperProductColorId" />
                        <button type="submit"><i class="fal fa-trash-alt"></i></button>
                    </form>
                </li>
            </ul>

            @{
                decimal discountPrice = 0;

                @if (item.LastDiscount != null && item.LastDiscount.Item2 > DateTime.Now)
                {
                    discountPrice = CartCalculator.CalculatePrice(item.ProductPrice, Convert.ToByte(((item.LastDiscount.Item2 > DateTime.Now) ? item.LastDiscount.Item1 : 0)));
                }
            }


            @if (item.LastDiscount != null && item.LastDiscount.Item2 > DateTime.Now)
            {
                <div class="discount">
                    <span>@item.LastDiscount.Item1%</span>

                    <span>@discountPrice.NumSplitter()</span>
                </div>
            }

        </div>
        <div class="product-info">

            <a asp-controller="Product" asp-action="ProductDetail"
           asp-route-productName="@item.ProductTitle.Replace(" ", "-")"
           asp-route-sellerId="@item.ShopperProductColorId">
                @item.ProductTitle
            </a>

            <h5 class="pro-price">@((item.ProductPrice - discountPrice).NumSplitter()) <span class="toman">تومان</span></h5>
        </div>
    </div>
}