@model ProductDetailViewModel


<div class="row">
    <div class="col-xs-12 col-lg-4 mb-3 mb-lg-0">

        <div class="img-detail box-shadow">
            <div class="show-img-product">
                <img id="zoom" src="/images/ProductImages/@Model.ProductGalleries.First().ImageName" alt="@Model.Product.Product.ProductTitle">
            </div>

            <!-- start slider product picture -->
            <div id="owl-one" class="owl-carousel owl-theme">
                
               @foreach (var item in Model.ProductGalleries)
               {
                   <div class="item mini-pic-slider">
                       <img src="/images/ProductImages/@item.ImageName" alt="@Model.Product.Product.ProductTitle" onclick="changeDetailImg(this.src)">
                   </div>
               }

            </div>
        </div>

    </div>

    <div class="col-xs-12 col-lg-8">
        <div class="detail-info box-shadow">
            <div class="product-name">
                <h1>@Model.Product.Product.ProductTitle</h1>
            </div>

            <div class="pro-data">

                <div class="ratting-star">
                    <span>(@Model.Comments.Count() نفر)</span>
                    <ul>
                        <li>
                            <i class="far fa-star"></i>
                        </li>
                        <li>
                            <i class="far fa-star"></i>
                        </li>
                        <li class="checked">
                            <i class="far fa-star"></i>
                        </li>
                        <li class="checked">
                            <i class="far fa-star"></i>
                        </li>
                        <li class="checked">
                            <i class="far fa-star"></i>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2><i class="far fa-tags"></i> دسته بندی:</h2>

                    @foreach (var item in Model.ChildCategories)
                    {
                        <a href="#">@item.ChildCategoryTitle</a>
                    }
                </div>
                <div>
                    <h2><i class="far fa-building"></i> برند:</h2>
                    <a href="#">@Model.Product.Product.Brand</a>
                </div>
            </div>

            <hr>

            <div class="color-selector">
                <h5><i class="far fa-paint-brush-alt"></i> رنگ:</h5>

                <div class="product-details-option-color">
                    <label class="c-blue" for="sp-1" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                        <input type="radio" id="sp-2">
                    </label>
                    <label class="c-orange" for="sp-2" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                        <input type="radio" id="sp-2">
                    </label>
                    <label class="c-black" for="sp-3" data-toggle="tooltip" data-placement="bottom" title="Tooltip on bottom">
                        <input type="radio" id="sp-3">
                    </label>

                </div>
            </div>


            <div class="seler-section">

                <h5><i class="far fa-store"></i> فروشندگان:</h5>

                <select class="Seller-ipnut" id="selected-shopper" onchange="UpdateProductDetailPage('@Model.Product.ProductId','@ViewData["ProductName"].ToString()',this.value)">
                    @foreach (var item in Model.Shoppers)
                    {
                        @:<option value="@item.Item1" @(item.Item1 == Model.Product.ShopperUserId ? "selected" : "")>فروشگاه @item.Item2 - @item.Item3</option>
                    }
                </select>

            </div>

            <div class="price">


                <h5><i class="far fa-dollar-sign"></i> قیمت:</h5>

                <span class="badge badge-pill badge-info ">۲۰٪ تخفیف</span>

                <span class="badge badge-pill badge-success text-black">سود شما: 100,000 تومان</span>


                <div class="price-amount">
                    <h3>@Model.Product.Price.ToToman() <span>تومان</span></h3>



                    <form asp-controller="Cart" asp-action="AddToCart" onsubmit="return  AddProductToCart(this)">
                        <input type="hidden" value="@Model.Product.Product.ProductId" name="productId" />
                        <input type="hidden" value="@Model.Product.ShopperUserId" name="shopperUserId" />
                        <button type="submit" class="btn btn-warning">افزودن به سبد خرید</button>
                    </form>



                </div>


            </div>

            <hr>

            <div class="feature">
                <h5>ویژگی های محصول:</h5>
                <ul>
                    <li>حافظه ۱۲۸ گیگ</li>
                    <li>ios 12</li>
                    <li>صفحه نمایش :۵ اینچ</li>
                    <li>شبکه تلفن:3g/4g</li>
                    <li>دوربین:۲عدد</li>
                    <li>ویژگی</li>
                    <li>ویژگی</li>
                </ul>
            </div>
            <hr>
            <span class="satisfaction">
                <i class="far fa-award"></i> <span>23 کاربر</span> از این محصول رضایت داشتند.
            </span>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="detail-items box-shadow">
            <div class="selector-detail">
                <ul>
                    <li><a href="">نقد و بررسی</a></li>
                    <li><a href="#information_section">مشخصات</a></li>
                    <li><a href="#comment-section">نظرات</a></li>
                </ul>
            </div>

            <hr>

            <div class="detail-according text-justify" id="accordiongID">

                <h5>نقد و بررسی:</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veniam, error odit omnis, corporis consequatur porro illum accusamus commodi officiis reiciendis reprehenderit, inventore iure aspernatur hic voluptatum facere aut voluptatibus repudiandae architecto
                    eos. Unde minus ab in. Doloribus, minima? Corporis asperiores quis nulla, consequuntur architecto labore repudiandae accusantium sint aspernatur mollitia qui quidem molestiae consectetur, ipsam ad quod, fugiat deserunt? Quis
                    nihil et blanditiis sint. Non tempora magni asperiores excepturi totam nesciunt porro sed quo eveniet consequuntur, itaque vero officia. Voluptatibus magni quidem doloribus doloremque pariatur perferendis, perspiciatis deleniti
                    harum nisi exercitationem saepe quaerat quod eveniet. Doloremque magni eaque incidunt beatae ad, neque doloribus dolorem debitis inventore recusandae quam nemo officia. Harum voluptate amet exercitationem numquam corrupti?
                    Tempora natus a modi dignissimos maxime quod, at rem maiores libero voluptates perferendis voluptatem eveniet iste repudiandae cum facilis expedita eaque. Eum perferendis saepe, laboriosam aperiam architecto enim accusantium
                    distinctio voluptate tempora similique ipsum fuga sequi sint nihil in odit ducimus dolor, debitis quasi quia. Nihil, nisi soluta omnis explicabo natus aspernatur. Excepturi pariatur debitis repellendus dignissimos doloremque
                    suscipit molestias, vero provident ex, incidunt quo quaerat aspernatur nobis reprehenderit veritatis dicta, magni illo. Laborum numquam laudantium, ullam a ratione minima repellendus repellat incidunt.
                </p>


                <p id="Review-fullpage" class="collapse m-0 p-0" data-parent="#accordiongID">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae doloribus quos inventore nemo obcaecati enim illum. Molestiae nisi dolore magnam veniam, doloremque omnis assumenda minima quia molestias illo. Voluptatum, libero?
                </p>


                <a data-toggle="collapse" data-target="#Review-fullpage">مشاهده ی مطالب</a>
            </div>

            <hr>

            <div class="detail-specifications">

                <h5>مشخصات محصول:</h5>

                <ul>
                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>

                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>

                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>

                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>

                    <li>
                        <span>سلام</span>
                        <span>سلام</span>
                    </li>
                </ul>
            </div>

            <hr>

            <div class="detail-comments">
                <h5>نظرات کاربران:</h5>
                <p class="positive-comment">( این محصول <span>25 بازخورد مثبت</span> داشته است. )</p>
                <div class="row">
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">میزان رضایت مندی از محصول</span>
                        <span class="percent-num">( 75% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">میزان رضایت مندی از محصول</span>
                        <span class="percent-num">( 75% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">میزان رضایت مندی از محصول</span>
                        <span class="percent-num">( 75% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <span class="percent-title">میزان رضایت مندی از محصول</span>
                        <span class="percent-num">( 75% )</span>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">

                    @if (!Model.Comments.Any())
                    {
                        <div class="alert alert-warning text-muted m-0">
                            تا حالا نظری برای این محصول درج نشده است! شما اولین نفر باشید.
                        </div>
                    }
                    else
                    {
                        @foreach (var item in Model.Comments)
                        {
                            <div class="col-sm-12">
                                <div class="comment-area">

                                    <div class="ur-cm-img">
                                        <img src="/images/UserImages/@User.FindFirstValue(ClaimTypes.Actor)" alt="">
                                    </div>

                                    <div class="comment-header">
                                        <h4>@item.User.FullName</h4>
                                        <span>ارسال شده در تاریخ @item.CommentDate.ToShamsiDate()</span>
                                        <span class="badge badge-light">خریدار</span>
                                        <a href="#" class="badge badge-warning">گزارش</a>
                                    </div>
                                    <div class="comment-text">
                                        <h4>@item.CommentTitle</h4>
                                        <p class="text-justify">
                                            @item.CommentText
                                        </p>
                                    </div>

                                    <div class="comment-footer">
                                        <span>(29 نفر)</span>
                                        <a href="#"><i class="far fa-heart"></i></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }

                </div>
            </div>

        </div>
    </div>
</div>