@model Tuple<IEnumerable<OrderForShowInListViewModel>, int, int>

@{
    int counter;


    if (Model != null)
    {
        counter = 1;
    }
    else
    {
        int skip = (Model.Item2 - 1) * Convert.ToInt32(ViewBag.TakeCount);

        counter = skip + 1;
    }
}


<link href="~/css/select.css" rel="stylesheet" />

<div class="filter">
    <input type="hidden" name="pageId" id="pageIdOrder" value="@Model.Item2" />


    <select select-search="true" id="typeOrder" onchange="changeListOrder()">

        @switch (ViewBag.Selectedtype.ToString())
        {
            case "all":
                {
                    <option value="all" selected>همه</option>
                    <option value="received">تحویل شده</option>
                    <option value="payed">تحویل نشده</option>
                    break;
                }
            case "received":
                {
                    <option value="all">همه</option>
                    <option value="received" selected>تحویل شده</option>
                    <option value="payed">تحویل نشده</option>
                    break;
                }
            case "payed":
                {
                    <option value="all">همه</option>
                    <option value="received">تحویل شده</option>
                    <option value="payed" selected>تحویل نشده</option>
                    break;
                }
            default:
            {
                <option value="all" selected>همه</option>
                <option value="received">تحویل شده</option>
                <option value="payed">تحویل نشده</option>
                break;
            }
        }

    </select>
</div>



@if (Model.Item1.Any())
{
    <div class="table-responsive">
        <table class="table responsive table-hover table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">کد پیگیری</th>
                    <th scope="col">تاریخ پرداخت</th>
                    <th scope="col">مبلغ پرداختی</th>
                    <th scope="col">تحویل شده</th>
                    <th scope="col">دستورات</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td class="text-center">
                            @counter
                        </td>
                        <td>@item.TrackingCode</td>
                        <td>@item.PayDate.ToShamsiDateTime()</td>
                        <td>@item.Sum.NumSplitter()</td>
                        <td>@item.IsReceived.BoolToText()</td>
                        <td>
                            <a asp-area="ManagerPanel" asp-controller="UserManager" asp-action="UserOrderDetail" asp-route-userId="@ViewBag.UserId" asp-route-trackingCode="@item.TrackingCode" class="btn btn-info text-white">
                                جزئیات
                            </a>
                            <a href="#" class="btn btn-warning text-white">
                                ویرایش
                            </a>
                        </td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>



    @if (Model.Item3 > 1)
    {
        <ul class="pagination-custom">
            <li class="@(Model.Item2<=1?"disabled":"")" onclick="paginationOrder('@(Model.Item2 - 1)')">
                <i class="far fa-angle-right"></i>
            </li>

            @for (var i = 1; i <= Model.Item3; i++)
            {
                <li class="@(Model.Item2 == i? "active":"")" onclick="paginationOrder('@i')">
                    @i
                </li>
            }

            <li class="@(Model.Item2 +1 > Model.Item3?"disabled":"")" onclick="paginationOrder('@(Model.Item2+1)')">
                <i class="far fa-angle-left"></i>
            </li>

        </ul>
    }





    <script>
        function paginationOrder(pageIdOrder) {
            $('#pageIdOrder').val(pageIdOrder);
            changeListOrder();
        }

        function changeListOrder() {
            var pageIdOrder = $('#pageIdOrder').val();
            var typeOrder = $('#typeOrder').val();

            $.ajax({
                typeOrder: 'GET',
                url: '/ManagerPanel/UserManager/UserOrdersList/?userId=@ViewBag.UserId.ToString()' + '&type=' + typeOrder + '&pageId=' + pageIdOrder,
                processData: false,
                contentType: false
            }).done(function (res) {
                $("#tableList").html(res);
            });
        }

    </script>
}
else
{
    <div class="alert alert-warning">
        سفارشی از کاربر یافت نشد
    </div>
}

<script src="~/js/select.js"></script>