@model Tuple<IEnumerable<OrderForShowInListViewModel>, int, int>

@{
    int counter;


    if (Model != null)
    {
        counter = 1;
    }
    else
    {
        int skip = (Model.Item2 - 1) * Convert.ToInt32(ViewBag.TakeCount);

        counter = skip + 1;
    }
}


<link href="~/css/select.css" rel="stylesheet" />

<div class="filter">
    <input type="hidden" name="pageId" id="pageId" value="@Model.Item2"/>


    <select select-search="true" id="type" onchange="changeList()">

        @switch (ViewBag.SelectedType.ToString())
        {
            case "all":
            {
                <option value="all" selected>همه</option>
                <option value="active">تحویل شده</option>
                <option value="existed">تحویل نشده</option>
                break;
            }
            case "received":
            {
                <option value="all">همه</option>
                <option value="active" selected>تحویل شده</option>
                <option value="existed">تحویل نشده</option>
                break;
            }
            case "payed":
            {
                <option value="all">همه</option>
                <option value="active">تحویل شده</option>
                <option value="existed" selected>تحویل نشده</option>
                break;
            }
        }

    </select>
</div>



@if (Model.Item1.Any())
{
    <div class="table-responsive">
        <table class="table responsive table-hover table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">کد پیگیری</th>
                    <th scope="col">تاریخ پرداخت</th>
                    <th scope="col">مبلغ پرداختی</th>
                    <th scope="col">تحویل شده</th>
                    <th scope="col">دستورات</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Item1)
                {
                    <tr>
                        <td class="text-center">
                            @counter
                        </td>
                        <td>@item.TrackingCode</td>
                        <td>@item.PayDate.ToShamsiDateTime()</td>
                        <td>@item.Sum.NumSplitter()</td>
                        <td>@item.IsReceived.BoolToText()</td>
                        <td>
                            <a href="#" class="btn btn-info text-white">
                                جزئیات
                            </a>
                            <a href="#" class="btn btn-warning text-white">
                                ویرایش
                            </a>
                        </td>
                    </tr>
                    counter++;
                }
            </tbody>
        </table>
    </div>



    @if (Model.Item3 > 1)
    {
        <ul class="pagination-custom">
            <li class="@(Model.Item2<=1?"disabled":"")" onclick="pagination('@(Model.Item2 - 1)')">
                <i class="far fa-angle-right"></i>
            </li>

            @for (var i = 1; i <= Model.Item3; i++)
            {
                <li class="@(Model.Item2 == i? "active":"")" onclick="pagination('@i')">
                    @i
                </li>
            }

            <li class="@(Model.Item2 +1 > Model.Item3?"disabled":"")" onclick="pagination('@(Model.Item2+1)')">
                <i class="far fa-angle-left"></i>
            </li>

        </ul>
    }





    <script>
        function pagination(pageId) {
            $('#pageId').val(pageId);
            changeList();
        }

        function changeList() {
            var pageId = $('#pageId').val();
            var type = $('#type').val();

            $.ajax({
                type: 'GET',
                url: '/ManagerPanel/ShoppersManager/ShopperProductsList/?shopperId=@ViewBag.ShopperId.ToString()' + '&type=' + type + '&pageId=' + pageId + '&filter=' + filter,
                processData: false,
                contentType: false
            }).done(function (res) {
                $("#tableList").html(res);
            });
        }

    </script>
}
else
{
    <div class="alert alert-warning">
       سفارشی از کاربر یافت نشد
    </div>
}

<script src="~/js/select.js"></script>