@model AccountMenuActivePage
@inject IPermissionService permissionService;

<div class="profile-menu box-shadow">
    <div class="user-img d-flex justify-content-center flex-column align-self-center">
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit">  <i class="far fa-power-off"></i></button>
        </form>

        <div class="img-layer">
            <form asp-controller="Account" asp-action="ChangeUserAvatar" enctype="multipart/form-data" id="formAvatar" method="post">
                <a href="javascript:void(0)" class="change-image">
                    <input type="file" name="avatar" class="ProfileAvatarInput" onchange="SubmitForm('formAvatar')">
                    <i class="far fa-camera"></i>
                </a>
                <img id="imgAvatar" src="/images/UserImages/@User.FindFirstValue(ClaimTypes.Actor)">
            </form>
        </div>


        <p class="text-center">@User.FindFirstValue(ClaimTypes.Name)</p>
    </div>

    <div class="items">
        <a asp-action="Dashboard" class="@(Model == AccountMenuActivePage.Information?"active":"")"><i class="far fa-user"></i> اطلاعات حساب</a>
        <a asp-action="UnFinallyOrders" class="@(Model == AccountMenuActivePage.Order?"active":"")"><i class="far fa-calendar-week"></i> سفارش های من</a>
        <a asp-action="FavoriteProducts" class="@(Model == AccountMenuActivePage.FavoriteProducts?"active":"")"><i class="far fa-heart"></i> علاقه مندی ها</a>
        <a asp-action="Questions" class="@(Model == AccountMenuActivePage.Question_v_Comment?"active":"")"><i class="far fa-comments-alt"></i> سوالات و نظرات</a>

        @if (await permissionService.PermissionCheckerAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), PermissionsConstants.Shopper))
        {
            <a asp-controller="shopper" asp-action="ManageProducts" class="@(Model == AccountMenuActivePage.ShopperProduct?"active":"")"><i class="far fa-comments-alt"></i>مدیریت محصولات</a>
        }

        @if (await permissionService.PermissionCheckerAsync(User.FindFirstValue(ClaimTypes.NameIdentifier), PermissionsConstants.AdminPanel))
        {
            <a asp-area="ManagerPanel" asp-controller="AdminPanel" asp-action="Dashboard" class="@(Model == AccountMenuActivePage.FullManage?"active":"")"><i class="far fa-comments-alt"></i>ورود به پنل مدیریت</a>
        }
    </div>
</div>