@model AddOrEditBrandViewModel

@{
    Layout = null;
}
<form asp-action="EditBrand" method="post" onsubmit="return SubmitFormData(this,true)">
    <div class="row">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="BrandId" />

        <div class="col-sm-12 col-lg-7">
            <div class="form-field">
                <input asp-for="BrandName">
                <label asp-for="BrandName"></label>
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>
        </div>
        
        <div class="col-sm-12 col-lg-5">
            <div class="form-field">
                <input asp-for="LatinBrandName">
                <label asp-for="LatinBrandName"></label>
                <span asp-validation-for="LatinBrandName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6">

            @if (Model.StoreTitles != null)
            {
                <select asp-for="SelectedStoreTitleId">
                    <option value="">انتخاب عنوان</option>

                    @foreach (var item in Model.StoreTitles)
                    {
                        @: <option value="@item.StoreTitleId" @(Model.SelectedStoreTitleId == item.StoreTitleId ? "selected" : "")>@item.StoreTitleName</option>
                    }
                </select>
            }
            else
            {
                <div class="alert alert-warning">
                    عنوانی برای نمایش یافت نشد.
                </div>
            }

        </div>

        <div class="col-sm-12 col-lg-6">

            @if (Model.ChildCategories != null)
            {
                <select multiple asp-for="SelectedChildCategories" placeholder="انتخاب زیر گروه ها">
                    @foreach (var item in Model.ChildCategories)
                    {
                        @: <option value="@item.ChildCategoryId" @(Model.SelectedChildCategories != null && Model.SelectedChildCategories.Any(c => c == item.ChildCategoryId)? "selected" : "")>@item.ChildCategoryTitle</option>
                    }
                </select>
            }
            else
            {
                <div class="alert alert-warning">
                    زیر گروهی برای نمایش یافت نشد.
                </div>
            }

        </div>

        <div class="col-sm-12">
            <div class="form-check">
                <label>
                    این برند فعال است
                    <input type="checkbox" checked asp-for="IsActive">
                    <span></span>
                </label>
            </div>
        </div>

        <div class="col-sm-12">
            <button type="submit" class="btn btn-success">
                ثبت
            </button>
        </div>

    </div>
</form>

<script>
    inputJs();
    callSelect();
</script>