@model StoreAddress
@{
    Layout = null;

    int selectedState = (int)ViewData["selectedState"];
}

<form asp-action="AddStoreAddress" method="post" onsubmit="return SubmitFormData(this,true)">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">

        <input type="hidden" asp-for="StoreAddressId" />
        <input type="hidden" asp-for="ShopperId" />

        <div class="col-sm-12">
            <div class="form-field">
                <input asp-for="StoreName">
                <label asp-for="StoreName"></label>
                <span asp-validation-for="StoreName" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6">
            <div class="form-field">
                <input asp-for="LandlinePhoneNumber">
                <label asp-for="LandlinePhoneNumber"></label>
                <span asp-validation-for="LandlinePhoneNumber" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-lg-6">
            <div class="form-field">
                <input asp-for="PostalCode">
                <label asp-for="PostalCode"></label>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 ">
            <div class="form-field">
                <textarea asp-for="AddressText"></textarea>
                <label asp-for="AddressText"></label>
                <span asp-validation-for="AddressText" class="text-danger"></span>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-5">

            @{
                var states = ViewBag.States as IEnumerable<Tuple<int, string>>;
                var cities = ViewBag.Cities as IEnumerable<City>;
            }

            <select onchange="GetCitiesOfState(this.value)" name="selectedState">
                <option value="0">استان</option>
                @if (states != null)
                {
                    @foreach (var state in states)
                    {
                        @:<option value="@state.Item1" @((selectedState != 0 && state.Item1 == selectedState) ? "selected" : "")>@state.Item2</option>
                    }
                }
            </select>

        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">

            <select id="city" asp-for="CityId">
                <option value="0">لطفا استان را انتخاب کنید</option>
                @if (cities != null)
                {
                    @foreach (var city in cities)
                    {
                        @:<option value="@city.CityId" @((Model.CityId != 0 && city.CityId == Model.CityId) ? "selected" : "")>@city.CityName</option>
                    }
                }
            </select>

        </div>
        <div class="col-sm-12 col-lg-3">
            <div class="form-field">
                <input asp-for="Plaque">
                <label asp-for="Plaque"></label>
                <span asp-validation-for="Plaque" class="text-danger"></span>
            </div>
        </div>

    </div>


    <button type="submit" class="btn btn-success">ثبت</button>
</form>

<script>
    inputJs();
    callSelect();
</script>