@model ShopperDataForAdmin
@{
    ViewData["Title"] = $"مدیریت فروشنده {Model.ShopperFullName}";
}
@section RightMenu
{
    @{ await Html.RenderPartialAsync("_RightMenu", RightMenuActivePage.ShopperPage); }
}


<section class="general-detail mb-3">
    <div class="row">
        <!-- img part -->
        <div class="col-sm-12 col-md-4 mb-3 mb-md-0">
            <div class="box-shadow">
                <div class="show-img-box">
                    <img src="/images/ProductImages/placeholder-image.png" alt="@Model.ShopperFullName">
                </div>

                <!-- start slider pictures -->
                <div id="images" class="owl-carousel owl-theme" style="border-top: 1px solid #eee;">


                    <div class="mini-pic-slider">
                        <a href="#">
                            <img src="/images/ProductImages/placeholder-image.png" alt="@Model.ShopperFullName">
                        </a>
                    </div>


                </div>
            </div>
        </div>

        <!-- product data part -->
        <div class="col-sm-12 col-md-8">
            <div class="general-data box-shadow">
                <span class="part-title">مشخصات محصول</span>
                <div>
                    <h3><i class="far fa-tags"></i> نام و نام خانوادگی فروشنده: </h3>
                    <span>@Model.ShopperFullName</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> شماره تلفن: </h3>
                    <span>@Model.PhoneNumber</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> تاریخ تولد: </h3>
                    <span>@Model.BirthDay.ToShamsiDate()</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> کد ملی: </h3>
                    <span>@Model.NationalCode</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> ایمیل: </h3>
                    <span>@Model.Email</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> صدور شناسنامه: </h3>
                    <span>@Model.IssuanceOfIdentityCard</span>
                </div>
                <div>
                    <h3><i class="far fa-tags"></i> شماره شناسنامه: </h3>
                    <span>@Model.FullIdOfIdentityCard</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="chart box-shadow mb-3">
    <span class="part-title">آمار کلی</span>



    <div class="scrollChart">
        <h2 class="chartheader">آمر کلی 30 روز اخیر</h2>
        <div id="LastMonthDataLineChart" style="overflow: hidden; width: 100%; min-width: 877px;"></div>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h2 class="chartheader">آمار فروش بین فروشنده ها</h2>
            <div id="BestShoppersPieChart"></div>
        </div>


        <div class="col-sm-12 col-md-6">
            <h2 class="chartheader">بهترین فروشنده های ماه اخیر</h2>
            <div id="LastMonthBestShoppersPieChart"></div>
        </div>
    </div>





</section>

<a onclick="ShowModal('@Url.Action("AddShopperProduct","ShoppersManager",new {shopperId = Model.ShopperId},Context.Request.Scheme)','افزودن کالا به فروشنده')"
    class="btn btn-success text-white mt-3 mb-2">افزودن کالا</a>

<section class="table-list" id="tableList">
    @await Component.InvokeAsync("ShopperProductsOfShopperComponent", new { shopperId = Model.ShopperId })
</section>


@section AfterMainOptions
{
    <partial name="_Modal" />
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>



    @*<script>
            google.charts.load('current',
                {
                    'packages': ['corechart']
                });
            google.charts.setOnLoadCallback(drawLastMonthDataLineChart);
            google.charts.setOnLoadCallback(drawLastMonthBestShoppersPieChart);
            google.charts.setOnLoadCallback(drawBestShoppersPieChart);

            function drawLastMonthDataLineChart() {
                $.ajax({
                    type: 'GET',
                    url: '/api/Product/GetLastThirtyDayProductData/' + @Model.ProductId,
                }).done(function(res) {
                    var data = new google.visualization.DataTable();

                    data.addColumn('string', 'تاریخ');
                    data.addColumn('number', 'بازدید');
                    data.addColumn('number', 'فروش');


                    $.each(res,
                        function(index, value) {
                            data.addRow([value.date, value.viewCount, value.sellCount]);
                        });

                    var options = {
                        width: '100%',
                        height: '100%',
                        isStacked: 'relative',
                        fontName: 'Sahel, sans-serif',
                        color: '#4d4d4d',
                        fontSize: 17,
                        height: 400,
                        curveType: 'function',
                        colors: ['#FC5400', '#3366cc', '#f95d6a', '#58508d'],
                        pointSize: 3,
                        chartArea: {
                            right: 0,
                            top: 20,
                            left: 100,
                            width: '95%',
                        },


                        hAxis: {
                            direction: 1,
                            slantedText: true,
                            slantedTextAngle: 50,
                        },

                        vAxis: {
                            format: 'short',
                            title: 'تعداد',
                            titleTextStyle: {
                                color: '#333',
                            },
                            minValue: 0,
                            scaleType: 'Linear',
                        },
                        legend: {
                            position: 'bottom'
                        }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById('LastMonthDataLineChart'));

                    chart.draw(data, options);
                });
            }

            function drawLastMonthBestShoppersPieChart() {
                $.ajax({
                    type: 'GET',
                    url: '/api/Shopper/GetLastThirtyDayBestShoppersOfProduct/' + @Model.ProductId,
                }).done(function(res) {

                    var data = new google.visualization.DataTable();

                    data.addColumn('string', 'نام فروشگاه');
                    data.addColumn('number', 'تعداد فروش');

                    $.each(res,
                        function(index, value) {
                            data.addRow([value.item1, value.item2]);
                        });

                    var options = {
                        width: '100%',
                        height: '100%',
                        isStacked: 'relative',
                        fontName: 'Sahel, sans-serif',
                        color: '#4d4d4d',
                        fontSize: 17,
                        height: 400,
                        pieHole: 0.2,
                        pieStartAngle: 100,
                        chartArea: {
                            left: 0,
                            top: 20,
                            width: '100%',
                        },
                        legend: {
                            position: 'bottom',
                            maxLines: 4
                        }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('LastMonthBestShoppersPieChart'));

                    chart.draw(data, options);
                });
            }

            function drawBestShoppersPieChart() {
                $.ajax({
                    type: 'GET',
                    url: '/api/Shopper/GetBestShoppersOfProduct/' + @Model.ProductId,
                }).done(function(res) {

                    var data = new google.visualization.DataTable();

                    data.addColumn('string', 'نام فروشگاه');
                    data.addColumn('number', 'تعداد فروش');

                    $.each(res,
                        function(index, value) {
                            data.addRow([value.item1, value.item2]);
                        });

                    var options = {
                        width: '100%',
                        height: '100%',
                        isStacked: 'relative',
                        fontName: 'Sahel, sans-serif',
                        color: '#4d4d4d',
                        fontSize: 17,
                        height: 400,
                        pieHole: 0.2,
                        pieStartAngle: 100,
                        chartArea: {
                            left: 0,
                            top: 20,
                            width: '100%',
                        },
                        legend: {
                            position: 'bottom',
                            maxLines: 4
                        }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('BestShoppersPieChart'));

                    chart.draw(data, options);
                });
            }



            window.onresize = drawLastMonthDataLineChart;
            window.onresize = drawLastMonthBestShoppersPieChart;
            window.onresize = drawBestShoppersPieChart;

        </script>*@



    <script>
        $("#images").owlCarousel({
            rtl: true,
            loop: false,
            nav: false,
            dots: true,
            items: 4,
            responsive: {
                0: {
                    items: 4
                },
                600: {
                    items: 3
                }
            },
        });
    </script>
}